/* 
avatars gallery https://imgur.com/gallery/iWRQtBe
dead x  https://i.imgur.com/2mKACTG.png
i voted https://i.imgur.com/prwqCtY.png 
*/

.amongus-room {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
}
.amongus-chatbox {
    border: .2em solid black;
    border-radius: .5em;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: rgb(171,177,187);
}

.amongus-msg {
    display: flex;
    /* justify-content: flex-start; */
    border: .05em;
    background-color: white;
    border-right: 0.2em solid rgb(140,140,140);
    border-bottom: 0.2em solid rgb(140,140,140);
    border-radius: .4em;
    padding-bottom: 0.9em;
    padding-top: 0.2em;
    margin-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.amongus-vote {
    margin: 0 30 5 30
}
.amongus-vote-msg {
    padding-top: 0.8em;
    margin-left: 60px;
    font-size: medium;
    color: limegreen;
    text-shadow:
        0px 0px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* clip the avatars to show only the top half */
.amongus-avi {
    width: 50px;
    clip: rect(0px,50px,40px,0px);
    position: absolute;
    margin-left: 0.5em;
    z-index: 1;
    margin-right: 0.5em;
}

/* "i voted" or "X" */
.amongus-icon {
    padding-top: 10px;
    height: 30px;
    position: absolute;
    z-index: 2;
}

.amongus-name {
    font-size: medium;
    color: white;
    text-shadow:
        0px 0px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}

.amongus-text {
    font-size: small;
    margin-top: 0.3em;
    margin-right: 0.3em;
}


.amongus-content {
    margin-top: 0.3em;
    margin-left: 60px;
}

/* update your username to show red. use with "amongus-name" class */
.amongus-imposter {
    color: red !important;
}

/* use with "amongus-msg" class. can be combined with "amongus-player" class */
.amongus-dead {
    background-color: rgb(204,211,219) !important;
}

/* 
when you add the "amongus-player" alongside the "amongus-msg" class
the direction of the icons, avatar, and text alignment are flipped. 
to show your POV as if you are the player
*/

/*
sadly, AO3 doesn't allow the justify-content property 
.amongus-player {
    justify-content: flex-end !important;
    
} */

div.amongus-player > div.amongus-content {
    margin-left: auto;  /* undo margin-left base class */
    margin-right: 60px;
    text-align: right;
}

div.amongus-player > img.amongus-avi {
    /* margin-left: -5px; */
    margin-left: 30%;
    transform: scaleX(-1);
}

div.amongus-player > img.amongus-icon {
    padding-top: 20px;
}
