  #workskin {
    /* z-index: 1000; */
    overflow: inherit;
    max-width: 100%;
    /* position: relative; */
  }

  body {
    background: white;
  }

 .anh {
    border: none;
    color: #2a2a2a;
    padding: 0em 3em;
  }
  
   .anh:after {
    content: ' ';
    display: block;
    border-top: 1px solid #2a2a2a;
    border-bottom: none;
  }
  
   .fakenotes {
     color: #2a2a2a;
    padding: 0em 4.5em;
    margin-top: 0px;
  }
  
   .bline {
    text-align: right;
    float: right;
  }
  
   a.button-end {
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    margin: 4px 2px;
    background: linear-gradient(#FFFFFF, #dbdbdb);
    box-shadow: inset 0px -1px #c9c9c9;
    color: #2a2a2a;
    padding: 2px;
    display: inline-block;
    text-decoration: none;
  }

  a.button-end > span {
    padding: 8px 10px;
    font-size: .95em;
  }

  a.button-end > span > img {
    position: absolute;
    display: none;
    height: 2.95em;
    margin-top: -.5em;
  }

  a.button-end .topb > img {
    margin-left: -4em;
  }

  a.button-end .kudosb > img {
    margin-left: -5em;
    width: 6em;
  }

  a.button-end .collectionb > img {
    margin-left: -9em;
    width: 10em;
  }

  a.button-end .bookmarkb > img {
    margin-left: -5.5em;
    width: 6.5em;
  }

  a.button-end .commentsb > img {
    margin-left: -7em;
    width: 8em;
  }

  a.button-end:hover > span > img {
    display: inline-block;
  }
  
   a.button-end:hover {
    color: #990000;
    box-shadow: inset 2px 2px 2px #c9c9c9;
    cursor: not-allowed;
  }

  .bline:hover ~ .convo-container > .convo-hidden {
      display: flex !important;
  }

  .convo-hidden {
    display: none !important;
  }
  
   /* .topb:before {
    content: "↑ Top";
    padding: 8px 10px;
    font-size: .95em;
  } */
  
   /* .kudosb:before {
    content: "Kudos ♥";
    padding: 8px 10px;
    font-size: .95em;
  } */
  
   /* .collectionb:before {
    content: "Add to Collections";
    padding: 8px 10px;
    font-size: .95em;
  } */
/*   
   .bookmarkb:before {
    content: "Bookmark";
    padding: 8px 10px;
    font-size: .95em;
  } */
  
   /* .commentsb:before {
    content: "Comments (2)";
    padding: 8px 10px;
    font-size: .95em;
  } */

  .noise {
    position: absolute;
    /* right: -4.1em;
    width: 120%; */
    right: -7.1em;
    width: 149%;
    max-width: none;
    height: 23em;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(255,255,255, 0), white);
  }

  .white-overflow {
    background: #fff;
    position: absolute;
    padding-right: 3em;
    /* padding-bottom: 10em; */
    z-index: 10;
    left: -3em;
    width: 100%;
    border: 3.5em #fff solid;
  }

.cyoa-visited {
  height: 40px;
  width: 100px;
  position: absolute;
  margin-left: -100px;
}

.cyoa-choice-5 {
  cursor: pointer;
  display: inline-block;
}

.cyoa-choice-5 span {
  text-decoration: underline;
  font-weight: bold;
  position: relative;
  display: inline-block;
  text-align: left;
  border: 2px solid #8f8e8f;
  border-radius: 10px;
  max-width: 470px;
  padding: 10px;
  margin-top: 3%;
  margin-bottom: 3%;
  height: auto;
}

.cyoa-choice-5 span:after {
  content: '';
    border: 10px solid transparent;
    border-right-color: #8f8e8f;
    border-left: 0;
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -10px;
}

.cyoa-start-over span {
  background: black;
  color: white;
  text-decoration: underline;
  position: absolute;
  margin-left: 100px;
  margin-top: 135px;
  display: inline-block;
  text-align: left;
  border: 2px solid #8f8e8f;
  border-radius: 10px;
  max-width: 470px;
  padding: 10px;
  /* margin-top: 3%; */
  /* margin-bottom: 3%; */
  height: auto;
  width: auto;
}

.cyoa-start-over {
  background: url("https://i.imgur.com/i72pfRh.png");
  background-repeat: no-repeat;
  /* background-size: 400px 400px; */
  display: inline-block;
  height: 300px;
  width: 300px;
}

.cyoa-start-over:hover {
  background: url("https://i.giphy.com/media/i2tLw5ZyikSFdkeGHT/giphy.webp");
  background-repeat: no-repeat;
  /* background-size: 400px 400px; */
  display: inline-block;
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.living-room {
    background: url("https://i.imgur.com/zElmRc0.png") no-repeat center center scroll;
    background-size: cover;
    background-attachment:fixed;
}

.lab {
    background: url("https://i.imgur.com/Dzy0Hce.png") no-repeat center center scroll;
    background-size: cover;
    background-attachment:fixed;
}

.kitchen {
  background: url("https://i.imgur.com/6M2HxWF.png") no-repeat center center scroll;
  background-size: cover;
  background-attachment:fixed;
}

.room {
  background: url("https://i.imgur.com/ru3NuvQ.png") no-repeat center center scroll;
  background-size: cover;
  background-attachment:fixed;
}

.amity-night {
  background: url("https://i.imgur.com/dUzMIet.png") no-repeat center center scroll;
  background-size: cover;
  background-attachment:fixed;
}