/* .cyoa-choice-5 {
    display: inline-block;
} */

/* .convo-container.choices {
    max-width: unset;
    min-width: unset;
    display: block;
}

.cyoa-choice-5.right {
    margin-right: 25%;
    width: 20%;
}

.cyoa-choice-5.left {
    margin-left: 30%;
    width: 20%;
} */

.expanded::after,#workskin .collapsed::after{
    display:none
}

/* .anh.region , .fakenotes , .bline.actions {
    font-family: initial;
    font-size: initial;
} */

a.expanded, 
.expandable.hidden, 
.expandable.askNoneBtn {
    display: none !important;
}

.ventBtn, .askNoneBtn {
    display: none;
}

.expanded ~ .askNoneBtn {
    display: inline-block;
}

.expanded ~ .expanded ~ .expanded ~ .expanded ~ .expanded ~ .ventBtn {
    display: inline-block;
}

/* .expandable.placeholder {
    display: none;
} */

/* .expanded:nth-of-type(3) ~ .ventBtn {
    display: inline-block;
} */

#ask-sam:target ~ .default-tab,
#ask-tucker:target ~ .default-tab,
#ask-jazz:target ~ .default-tab,
#ask-elle:target ~ .default-tab,
#ask-none:target ~ .default-tab,
#vent:target ~ .default-tab
{
    display: none;
}

.startTabStuff, .start2TabStuff {
    display: none;
}

#start:target ~ .root, /* after making 1 choice */
#start2:target ~ .root /* after making all 5 choices */
{
    display: block !important;
}

.expanded ~ .expanded ~ .expanded ~ .expanded ~ .expanded ~ .rootTabStuff,
.expanded ~ .expanded ~ .expanded ~ .expanded ~ .expanded ~ .startTabStuff,
#start:target ~ .root .rootTabStuff,
#start2:target ~ .root .rootTabStuff
{
    display: none !important;
}

/* customizations within .root */
#start:target ~ .root .startTabStuff,
#start2:target ~ .root .start2TabStuff
{
    display: block;
}

#start:target ~ .root .startTabStuff.convo-container,
#start2:target ~ .root .start2TabStuff.convo-container
{
    display: block;
}

.expanded ~ .expanded ~ .expanded ~ .expanded ~ .expanded ~ .start2TabStuff {
    display: block;
}

.cyoa-start-over.start2
{
    display: none;
}

.root:has(.expanded ~ .expanded ~ .expanded ~ .expanded ~ .expanded) ~ .tab .cyoa-start-over.start2
{
    display: inline-block;
}

.root:has(.expanded ~ .expanded ~ .expanded ~ .expanded ~ .expanded) ~ .tab .cyoa-start-over.start1
{
    display: none;
}

/* to dos:
-make "expanded" untoggleable 
-test w <detail> <summary><a href="">asdf </a></summary></detail>
update x images in start and start2
-combine root and start (and start2?) but flip the endnotes / dialogues
-make start2 separate tab?? make it show, its not showing
update css for ao3 friendly (collapsed/ expanded)
fix 4 + 1 + 1 choices view on mobile 
*/
