/* https://archiveofourown.org/works/6434845/chapters/14729722 */

/* Blue (base color): #0099ff
Pale Blue: #44bec7
Yellow: #ffc300
Red: #ff3c4c
Lavender: #d696bb
Green: #13cf13
Orange: #ff7e29
Light Red: #e68585
Purple: #7646ff
Light Blue: #20cef5
Pink: #ff5ca1 */

.phone {
    max-width: 300px;
    /* font-family: "Segoe UI"; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: table;
    margin: auto;
  }

   .messagebody {
    /* background-color: #FFFFFF; */
    display: table;
    padding-left: .5em;
    padding-right: .5em;
  }

   .header {
    min-width: 300px;
    /* background-color: #ffffff; */
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    /* color: #000000; */
    font-weight: bold;
    padding-bottom: .5em;
    padding-top: .5em;
    margin-left: -.5em;
    margin-right: -.5em;
    /* margin-bottom: -2em; */
    text-align: center;
    text-transform: capitalize;
    display: table;
  }

  .header u {
    text-decoration: none;
  }

   .reply {
    float: right;
    color: #FFFFFF;
    margin: 0 0 0.5em;
    border-radius: 1.5em;
    padding: 0.5em 1em;
    background: #0099ff;
    max-width: 75%;
    clear: both;
    position: relative;
  }
  
   .reply1 {
    float: right;
    color: #FFFFFF;
    margin: 0 0 0.15em;
    border-radius: 1.5em;
    border-bottom-right-radius: 0.25em;
    padding: 0.5em 1em;
    background: #0099ff;
    max-width: 75%;
    clear: both;
    position: relative;
  }
  
   .reply2 {
    float: right;
    color: #FFFFFF;
    margin: 0 0 0.15em;
    border-radius: 1.5em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    padding: 0.5em 1em;
    background: #0099ff;
    max-width: 75%;
    clear: both;
    position: relative;
  }
  
   .reply3 {
    float: right;
    color: #FFFFFF;
    margin: 0 0 0.5em;
    border-radius: 1.5em;
    border-top-right-radius: 0.25em;
    padding: 0.5em 1em;
    background: #0099ff;
    max-width: 75%;
    clear: both;
    position: relative;
  }

   .text {
    float: left;
    color: #000000;
    margin: 0 0 0.5em;
    border-radius: 1.5em;
    padding: 0.5em 1em;
    background: #e5e5ea;
    max-width: 75%;
    clear: both;
    word-wrap: break-word;
    position: relative;
  }
  
  .text::after {
    content: "";
    position: absolute;
    left: -.5em;
    bottom: 0;
    width: 0.6em;
    height: 1em;
    border-right: 0.5em solid #e5e5ea;
    border-bottom-right-radius: 1em 0.5em;
  }
  

   .text1 {
    float: left;
    color: #000000;
    margin: 0 0 0.15em;
    border-radius: 1.5em;
    border-bottom-left-radius: 0.25em;
    padding: 0.5em 1em;
    background: #f1f0f0;
    max-width: 75%;
    clear: both;
    position: relative;
  }
  
   .text2 {
    float: left;
    color: #000000;
    margin: 0 0 0.15em;
    border-radius: 1.5em;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    padding: 0.5em 1em;
    background: #f1f0f0;
    max-width: 75%;
    clear: both;
    position: relative;
  }
  
   .text3 {
    float: left;
    color: #000000;
    margin: 0 0 0.5em;
    border-radius: 1.5em;
    border-top-left-radius: 0.25em;
    padding: 0.5em 1em;
    background: #f1f0f0;
    max-width: 75%;
    clear: both;
    position: relative;
  }

   .time {
    min-width: 295px;
    color: #999999;
    font-size: .75em;
    padding-bottom: .5em;
    padding-top: .5em;
    margin-left: -.5em;
    margin-right: -.5em;
    margin-bottom: -.5em;
    text-align: center;
    display: table;
  }

   .grouptext {
    /* color: #999999; */
    opacity: 0.6;
    font-size: .75em;
    padding-bottom: 1.7em;
    padding-top: 0;
    margin-left: .75em;
    margin-bottom: -1.5em;
    text-align: left;
    display: table;
    clear: both;
  }

  .grouptext b {
    font-weight: normal;
  }

 .greply {
    float: right;
    color: #FFFFFF;
    margin: 0 0 0.5em;
    border-radius: 1em;
    padding: 0.5em 1em;
    background: #35cb24;
    max-width: 75%;
    clear: both;
    position: relative;
  }
  
 .greply::after {
    content: "";
    position: absolute;
    right: -0.5em;
    bottom: 0;
    width: 0.5em;
    height: 1em;
    border-left: 0.5em solid #35cb24;
    border-bottom-left-radius: 1em 0.5em;
  }

 .breply {
    float: right;
    color: #FFFFFF;
    margin: 0 0 0.5em;
    border-radius: 1em;
    padding: 0.5em 1em;
    background: #1289fe;
    max-width: 75%;
    clear: both;
    word-break: break-word;
    position: relative;
  }
  
 .breply::after {
    content: "";
    position: absolute;
    right: -0.5em;
    bottom: 0;
    width: 0.5em;
    height: 1em;
    border-left: 0.5em solid #1289fe;
    border-bottom-left-radius: 1em 0.5em;
  }
  
  .hide { display: none;}

 .typing-indicator {
    background-color: #e6e7ed;
    width: auto;
    border-radius: 1em;
    padding: .5em 1em;
    display: table;
    margin: 0 0 .5em;
    position: relative;
    overflow: hidden;
    text-align: left;
    clear: both;
  }
  
 .typing-indicator::before,
 .typing-indicator::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #e6e7ed;
  }
  
 .typing-indicator::after {
    height: 6px;
    width: 6px;
    left: -6px;
    bottom: -6px;
  }
  
 .typing-indicator span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
  }
  
 .typing-indicator span {
    height: .65em;
    width: .65em;
    float: left;
    margin: .425em 0 .425em .25em;
    margin-left: 0.25em;
    background-color: #9e9ea1;
    display: inline-block;
    border-radius: 50%;
    opacity: .5;
  }
  
 .typing-indicator span:first-child {
    margin-left: 0;
  }
  
 .typing-indicator span:nth-child(1) {
    opacity: .85;
  }
  
 .typing-indicator span:nth-child(2) {
    opacity: .65;
  }

  .readreceipt {
    color: #7B7C80;
    font-size: .75em;
    float: right;
    position: relative;
    clear: both;
    margin: -.75em -1.25em 0.5em 0;
    padding: 0 1em 0.5em;
  }


  /* -------------------------------------------- */
/* https://archiveofourown.org/works/11474979/chapters/25731342 */

.tungle {
    max-width: 500px;
    min-width: 300px;
    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    display: table;
    margin: auto;
    /* color: #444444; */
  }

  .tungle p {
    margin-bottom: 0px;
  }

.tungle-wrap {
    margin: 0em;    
    border-inline-start: none;
  }
  
.tunglebody {
    /* background-color: #ffffff; */
    border-radius: 3px;
    border-style: solid;
    border-width: .1em;
    border-color: #cccccc;
    float: left;
    max-width: 100%;
    position: relative;
    padding: 15px 0 0;
  }
  
.tungleurl {
    position: relative;
    top: -.2em;
    font-weight: 700;
    font-size: 14px;
    /* margin-top: 50px; */
    margin-left: 30px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 20px !important;
  }

.tungleurl:before {
    content: '';
    background-image: url(https://i.imgur.com/DbotgV6.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25px;
    width: 25px;
    display: inline-flex;
    vertical-align: middle;
    padding: 10px;
    margin-right: 10px;
}
  
.tungletext {
    display: inline-block;
    margin-top: 18px;
    margin-left: 20px;
    line-height: 21px;
    font-size: 14px;
    width: 92%;
    word-wrap: break-word;
  }
  
.tungletext a {
    color: #444444;
  }
  
.tungleh {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    width: 92%;
    word-wrap: break-word;
  }
  
.tungletags {
    display: inline-block;
    width: 92%;
    font-size: 13px;
    /* color: #8f8f8f; */
    opacity: 0.5;
    margin-top: 15px;
    line-height: 20px;
    position: relative;
    margin-left: 20px;
  }

  .tungle-last {
    margin-top: 0px;
  }
  
/* .tungletags:after {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  } */
  
.tungletag {
    margin-left: 12px;
  }
  
.tungletag:first-of-type {
    margin-left: 0px;
  }
  
.tunglenotes {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.5;
    /* color: #8f8f8f; */
    line-height: 45px;
    position: relative;
    margin-left: 20px;
  }
  
.tungleicons {
    height: 45px;
    width: auto;
    float: right;
    margin-right: 10px;
  }

  .tungle-reblogicons {
    position: relative;
    clear: both;
    background-image: url(http://i.imgur.com/LWKqh4u.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* display: inline-block; */
    float: right;
    height: 45px;
    width: 8em;
  }
  
  .dp-ei-img 
  {
    max-width: 700px;
    margin: 0px auto;
    display: block;
  }