
/* consider hardcoding the height and width here?
or doing min / max width stuff... */
.parent-container {
    width: fit-content;
    position: relative;
    margin: 0px auto;
}

.parent-container-row {
    display: flex;
    width: fit-content;
}

/* hide the summary marker on all browsers */
.square-cont summary {
  list-style-type: none;
}

.square-cont details > summary::-webkit-details-marker,
.square-cont details > summary::marker {
  display: none;
}

.square-cont {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: pink;
    transition: all 1s ease-out;
}

.square-cont summary {
    position: absolute;
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    z-index: 10;
}

.square-cont details {
    margin: 0px;
    cursor: pointer;
}

.square-cont details[open] {
    display: none;
    z-index: 1;
}

.square {
    width: 100px;
    height: 100px;
    background-image: url(https://img.icons8.com/material-rounded/100/thick-arrow-pointing-up.png);
    /* transition: transform 1s ease-out, background-color 1s ease-out; */
    transition: all 1s ease-out;
}

.square-answer {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0; */
    z-index: 0;
    /* display: none; */
    background-image: url(https://img.icons8.com/ios/300/hand.png);
    background-color: aqua;
    /* transition: opacity 1s ease-in 0.5s, margin-top 1s ease-in 1s; */
    transition: opacity 1s ease-in 0.5s;
    opacity: 0;
    /* cursor: pointer; */
}


/* ---------------------------------------------------------------- */
/*
when there are no more open divs left inside .square-cont,
change the background color
using this prevents us from having to hardcode the victory condition
and the victory condition can be set by how many times an element in html must be pressed
*/
.square-cont:not(:has(details:not([open]))) {
    background-color: green;
    cursor: not-allowed;
}

/* if the row is empty (all details were clicked~) */
.parent-container-row:not(:has(details:not([open]))) {
    outline: 3px blue solid;
}

/* the BOX is empty (all details were clicked~) */
.parent-container:not(:has(details:not([open]))) {
    outline: 3px plum solid;
}

.parent-container:not(:has(details:not([open]))) .square-answer {
    opacity: 1;
    margin-top: -100%;
    z-index: 12;
    cursor: pointer;
    /* display: block; */
}

/* ---------------------------------------------------------------- */

/* i did have to hard code these tho lol */
details[open] ~ .square {
    transform: rotate(90deg);
}

details[open] ~ details[open] ~ .square {
    transform: rotate(180deg);
}

details[open] ~ details[open]  ~ details[open] ~ .square {
    transform: rotate(270deg);
}

details[open] ~ details[open]  ~ details[open] ~ details[open] ~ .square {
    transform: rotate(360deg);
}