.fadeout {
    position: relative;
    /* color: #777777 !important; */
  }
  .fadeout::before {
    content: '';
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(255,255,255, 0), white);
  }

  #workskin {
    overflow-x: hidden;
  }

  .summary.module blockquote p {
    margin: 0px;
  }


  .dotted-spaced {
    background-image: url(https://i.imgur.com/KC4cz0C.png);
    background-position: top;
    background-size: 50px 50px;
    background-repeat: repeat-x;
    margin: 0px auto;
    padding: 0px 10px 40px;
    max-width: 720px;
  }

  /* .styled-separator-black {
    max-width: 700px;
    min-width: 100px;
    height: 1px;
    border-bottom: 10px dotted black;
    margin: 0px auto;
    padding-left: 20px;
  }

  .styled-separator-red {
    max-width: 700px;
    min-width: 100px;
    height: 1px;
    border-top: 10px dotted red;
    margin: 0px auto;
  } */

/* ---------messenger by rainsong https://archiveofourown.org/works/29809578/chapters/73338768 */
.fbmessenger {
  max-width: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: table;
  margin: auto;
}

.fbheader {
  min-width: 300px;
  /* background-color: #FFFFFF; */
  border-bottom: 1px solid #E7E7E7;
  /* color: #000000; */
  font-weight: bold;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-left: -.5em;
  margin-right: -.5em;
  margin-bottom: -2em;
  text-align: center;
  display: table;
}

.fbmessagebody {
  /* background-color: #FFFFFF; */
  display: table;
  padding-left: .5em;
  padding-right: .5em;
}

.fbtextsingle {
  float: left;
  color: #000000;
  margin: 0 0 0.5em;
  border-radius: 1em 1em 1em 1em;
  padding: 0.5em 1em;
  background: #F1F1F1;
  max-width: 75%;
  clear: both;
  position: relative;
}

.fbtextfirst {
  float: left;
  color: #000000;
  margin: 0 0 0.1em;
  border-radius: 1em 1em 1em 0.2em;
  padding: 0.5em 1em;
  background: #F1F1F1;
  max-width: 75%;
  clear: both;
  position: relative;
}

.fbtextmiddle {
  float: left;
  color: #000000;
  margin: 0 0 0.1em;
  border-radius: 0.2em 1em 1em 0.2em;
  padding: 0.5em 1em;
  background: #F1F1F1;
  max-width: 75%;
  clear: both;
  position: relative;
}

.fbtextlast {
  float: left;
  color: #000000;
  margin: 0 0 0.5em;
  border-radius: 0.2em 1em 1em 1em;
  padding: 0.5em 1em;
  background: #F1F1F1;
  max-width: 75%;
  clear: both;
  position: relative;
}

.fbtextsingle span {
  color: #5540FF;
}

.fbtextfirst span {
  color: #5540FF;
}

.fbtextmiddle span {
  color: #5540FF;
}

.fbtextlast span {
  color: #5540FF;
}

.fbreplysingle {
  float: right;
  color: #FFFFFF;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #5540FF;
  max-width: 75%;
  clear: both;
  position: relative;
}

.fbreplyfirst {
  float: right;
  color: #FFFFFF;
  margin: 0 0 0.1em;
  border-radius: 1em 1em 0.2em 1em;
  padding: 0.5em 1em;
  background: #5540FF;
  max-width: 75%;
  clear: both;
  position: relative;
}

.fbreplymiddle {
  float: right;
  color: #FFFFFF;
  margin: 0 0 0.1em;
  border-radius: 1em 0.2em 0.2em 1em;
  padding: 0.5em 1em;
  background: #5540FF;
  max-width: 75%;
  clear: both;
  position: relative;
}

.fbreplylast {
  float: right;
  color: #FFFFFF;
  margin: 0 0 0.5em;
  border-radius: 1em 0.2em 1em 1em;
  padding: 0.5em 1em;
  background: #5540FF;
  max-width: 75%;
  clear: both;
  position: relative;
}

.fbreplysingle mark {
  background-color: #776FE9;
  color: #FFFFFF;
}

.fbreplyfirst mark {
  background-color: #776FE9;
  color: #FFFFFF;
}

.fbreplymiddle mark {
  background-color: #776FE9;
  color: #FFFFFF;
}

.fbreplylast mark {
  background-color: #776FE9;
  color: #FFFFFF;
}

.fbhide {
  display: none;
}

.fbtime {
  min-width: 295px;
  opacity: 0.65;
  /* color: #7B7C80; */
  font-size: .75em;
  padding-bottom: .5em;
  padding-top: .5em;
  margin-left: -.5em;
  margin-right: -.5em;
  margin-bottom: -.5em;
  text-align: center;
  text-transform: uppercase;
  display: table;
}

.fbgrouptext {
  color: #AEAEAE;
  font-size: .75em;
  padding-bottom: 0.5em;
  padding-top: 0px;
  margin-left: 1em;
  margin-bottom: -2.5em;
  text-align: left;
  display: table;
  clear: both;
}
/* ---------------------------------------------------- */
/* texting by la temperanza https://archiveofourown.org/works/6434845/chapters/14729722#workskin */


 .text-phone {
    float: left;
    color: #000000;
    margin: 0 0 0.5em;
    border-radius: 1em;
    padding: 0.5em 1em;
    background: #e5e5ea;
    max-width: 75%;
    clear: both;
    position: relative;
  }
  
 .text-phone::after {
    content: "";
    position: absolute;
    left: -.5em;
    bottom: 0px;
    width: 0.5em;
    height: 1em;
    border-right: 0.5em solid #e5e5ea;
    border-bottom-right-radius: 1em 0.5em;
  }

  .map-image {
    float: left;
    margin: 0 0 0.5em;
    border-radius: 1em;
    width: 50%;
    min-height: 75%;
    clear: both;
    position: relative;
    background-image: url("https://i.imgur.com/OyG3wib.png");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    display: inline-block;
    padding-top: 50%;
  }

 .greply {
    float: right;
    color: #FFFFFF;
    margin: 0 0 0.5em;
    border-radius: 1em;
    padding: 0.5em 1em;
    background: #35cb24;
    max-width: 75%;
    clear: both;
    position: relative;
  }
  
 .greply::after {
    content: "";
    position: absolute;
    right: -0.5em;
    bottom: 0;
    width: 0.5em;
    height: 1em;
    border-left: 0.5em solid #35cb24;
    border-bottom-left-radius: 1em 0.5em;
  }

  .grouptext-info
  {
    /* color: #7B7C80; */
    color: red;
    font-size: 12px;
    float: right;
    clear: both;
    margin-top: -5px;
  }

  .not-sent {
    left: -25px;
  }
  
  .not-sent::before {
    content: url(https://i.imgur.com/HYHA5Sz.png);
    position: absolute;
    right: -27px;
    cursor: pointer;
  }
/* ---------------------------------------------------- */
/* linux (from qab ch 2 by jin ) */
/* + fake vscode by me */


/* not allowed on ao3 */
/* .vscode li::marker {
    content: counter(list-item)"\a0\a0";
} */

.linux-x {
    position: absolute;
    left: 0px;
}

.linux-title {
  z-index: 5;
}

.linux-box-top {
    margin: 0;
    border-width: 1px;
    color: #fff;
    background: #282b28;
    border-radius: 5px;
    padding: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    font-family: "Lucida Console",Monaco,monospace;
    font-size: 12px;
    cursor: pointer;
  }
  
  .linux-box-top > img {
    position: absolute;
    left: 5px;
    height: 20px;
  }
  
  .linux-box-top > span {
    z-index: 3;
  }
  
  .linux-box-bottom {
    margin: 0;
    border-width: 1px;
    color: #fff;
    background: #300820;
    border-radius: 5px;
    padding: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-family: "Lucida Console",Monaco,monospace;
    margin: 0 auto;
    max-width: 700px;
    font-size: 12px;
    display: block;
  }

  .linux-bottom-cont {
    margin: 0;
    overflow-x: scroll;
  }

  .linux-bottom-cont .linux-box-bottom {
    width: 700px !important;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .linux-bottom-cont::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .linux-bottom-cont {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .linux-green {
    color: #82d832;
  }
  
  .linux-blue {
    color: #5d75b0;
  }

  .linux-red {
    color: #ea4654;
  }

  .linux-yellow {
    color: #c5c20f;
  }
  
  .half-tab {
    padding-left: 20px;
  }
  /* ------------------------------------------------------------------------ */
/* La_Temperanza email window (w modifications) https://archiveofourown.org/works/7953412 */
/* sticky notes */
.sticky-yellow {   
    display: block;   
    background-color: #ffff99;   
    color: #000000;   
    text-decoration: none;   
    font-family: "Comic Sans MS", "Chalkboard SE", sans-serif;
    /* height: 5em;   
    width: 5em;    */
    padding: 1em;   
    text-align: left;   
    margin-left: auto;   
    margin-right: auto;   
    -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);  
     -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
    -webkit-transform: rotate(6deg);   
    -o-transform: rotate(6deg);   
    -moz-transform: rotate(6deg);  
    transform: rotate(6deg); 
    position: absolute;
    height: 2em;
    width: 2em;
    display: inline-table;
    font-size: 11px;
    left: 0%;
    bottom: 32%;

}

.sticky-yellow-2 {   
    display: block;   
    background-color: #ffff99;   
    color: #000000;   
    text-decoration: none;   
    font-family: "Comic Sans MS", "Chalkboard SE", sans-serif;
    /* height: 5em;   
    width: 5em;    */
    padding: 1em;   
    text-align: left;   
    margin-left: auto;   
    margin-right: auto;   
    -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);  
     -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
    -webkit-transform: rotate(342deg);   
    -o-transform: rotate(342deg);   
    -moz-transform: rotate(342deg);  
    transform: rotate(342deg); 
    position: absolute;
    height: 2em;
    width: 2em;
    display: inline-table;
    font-size: 10px;
    left: 1%;
    top: 5%;

}


.sticky-blue {   
    /* display: block;    */
    background-color: #add8e6;   
    color: #000000;   
    text-decoration: none;   
    font-family: "Comic Sans MS", "Chalkboard SE", sans-serif;
    /* height: 5em;   
    width: 5em;    */
    padding: 1em;   
    text-align: left;   
    margin-left: auto;   
    margin-right: auto;   
    -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);  
     -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
    -webkit-transform: rotate(-6deg);   
    -o-transform: rotate(-6deg);   
    -moz-transform: rotate(-6deg);  
    transform: rotate(-6deg); 
    position: absolute;
    top: 5%;
    right: 5%;
    height: 2em;
    width: 2em;
    font-size: 12px;
    display: inline-table;
}

.sticky-blue-2 {   
    /* display: block;    */
    background-color: #add8e6;   
    color: #000000;   
    text-decoration: none;   
    font-family: "Comic Sans MS", "Chalkboard SE", sans-serif;
    /* height: 5em;   
    width: 5em;    */
    padding: 1em;   
    text-align: left;   
    margin-left: auto;   
    margin-right: auto;   
    -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);  
     -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
    -webkit-transform: rotate(6deg);   
    -o-transform: rotate(6deg);   
    -moz-transform: rotate(6deg);  
    transform: rotate(6deg); 
    position: absolute;
    top: 35%;
    right: 10%;

    height: 2em;
    width: 2em;
    font-size: 12px;
    display: inline-table;
}

.sticky-green
{
    right: 52%;
    top: 57%;
    height: 2em;
    width: 2em;
    font-family: "Comic Sans MS", "Chalkboard SE", sans-serif;
    /* margin: 0px; */
    padding: 0.5em;
    /* margin: 10px; */
    /* box-sizing: border-box; */
    font-size: 11px;
    background-color: lightgreen;
    /* font-size: 15px; */
    display: inline-table;
    text-align: left;   
    margin-left: auto;   
    margin-right: auto;   
    -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);  
     -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
    -webkit-transform: rotate(1deg);   
    -o-transform: rotate(1deg);   
    -moz-transform: rotate(1deg);  
    transform: rotate(1deg); 
    position: absolute;
    color: #000000; 
}

.sticky-green-2
{
    right: 5%;
    bottom: 26%;
    height: 2em;
    width: 2em;
    font-family: "Comic Sans MS", "Chalkboard SE", sans-serif;
    /* margin: 0px; */
    padding: 0.5em;
    /* margin: 10px; */
    /* box-sizing: border-box; */
    font-size: 13px;
    background-color: lightgreen;
    /* font-size: 15px; */
    display: inline-table;
    text-align: left;   
    margin-left: auto;   
    margin-right: auto;   
    -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);  
     -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
    -webkit-transform: rotate(-11deg);   
    -o-transform: rotate(-11deg);   
    -moz-transform: rotate(-11deg);  
    transform: rotate(-11deg); 
    position: absolute;
    color: #000000; 
}

.sticky-green-3
{
    right: 11%;
    bottom: 2%;
    height: 2em;
    width: 2em;
    font-family: "Comic Sans MS", "Chalkboard SE", sans-serif;
    /* margin: 0px; */
    padding: 0.5em;
    /* margin: 10px; */
    /* box-sizing: border-box; */
    font-size: 13px;
    background-color: lightgreen;
    /* font-size: 15px; */
    display: inline-table;
    text-align: left;   
    margin-left: auto;   
    margin-right: auto;   
    -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);  
     -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
    -webkit-transform: rotate(11deg);   
    -o-transform: rotate(11deg);   
    -moz-transform: rotate(11deg);  
    transform: rotate(11deg); 
    position: absolute;
    color: #000000; 
}

.ewindow {
    text-align: justify;
    margin: 0 auto 40px auto;
    max-width: 600px;
    min-width: 300px;
    border-color: #dcdcdc;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
  }

  .attach {
    /* background-color: #fff; */
    border-color: #cfcfcf;
    border-style: solid;
    border-width: 1px;
    margin: 0.25em;
    padding: 0.25em;
    cursor: pointer;
    display: inline-table;
  }

  .attach:hover {
    background: lightblue;
  }

  .attach::before {
    content: '\1F4CE';
  }

  .attach u {
    padding-left: 5px;
  }
  
   .topbar {
    background-color: #dcdcdc;
    color: #FFFFFF;
    border-color: #dcdcdc;
    border-style: solid;
    cursor: pointer;
    /* width: 66%; */
    /* padding: 2px; */
    padding: 4px 1px 1px;
    font-size: 13px;
  height: 1.5em;
  /* overflow: hidden; */
    /* text-overflow: clip; */
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
   .topbar:before {
    /* content: 'Email'; */
    /* content: '🔴 🟡 🟢 '; */
    /* content: "\U+1F534"; */
    display: inline-block;
    position: relative;
    float: left;
    font-weight: bold;
    /* padding: 0 3px; */
    /* padding: 4px 1px 1px; */
    width: 85%;
  }
  
   .topbar:after {
    /* content: ' _ X'; */
    display: inline-block;
    position: relative;
    font-weight: bold;
    padding-right: 5px;
    float: right;
    color: #cfcfcf;
    -webkit-transform: scale(1.5, 1.0);
    -moz-transform: scale(1.5, 1.0);
    -ms-transform: scale(1.5, 1.0);
    -o-transform: scale(1.5, 1.0);
    transform: scale(1.5,1.0);
    cursor: pointer;
  }
  
   .textfield {
    border-color: #cfcfcf;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    /* margin-top: 0;
    margin-bottom: 0px; */
    /* width: 66%; */
    padding: 2px 2px 2px 10px;
    /* color: #000000;
    background-color: #FFFFFF; */
    /* text-overflow: clip; */
    margin: 0 auto;


  }
  
   .ebody {
    /* width: 66%; */
    padding: 10px;
    text-align: justify;
    /* color: #000000;
    background-color: #FFFFFF; */
    /* margin-left: auto;
    margin-right: auto; */
    /* overflow: auto; */
    display: block;
    /* min-height: 250px; */
    border-color: #cfcfcf;
    border-style: solid;
    border-width: 1px;
    margin: 0 auto;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
  }
  
   .ebody::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
   /* .ebody::-webkit-scrollbar:vertical {
    width: 12px;
  }
  
   .ebody::-webkit-scrollbar:horizontal {
    height: 12px;
  } */
  
   /* .ebody::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
  
   .ebody::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
  } */
  
   .buttonbar {
    border-color: #cfcfcf;
    background-color: #f5f5f5;
    color: #000000;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    margin-top: 0px;
    margin-bottom: 0px;
    /* width: 66%; */
    padding: 2px;
  height: 1.5em;
  /* overflow: hidden; */
    text-overflow: clip;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

  }
  
   .buttonbar:after {
    content: 'Reply | Forward | Delete';
    display: inline-block;
    position: relative;
    float: left;
    padding: 0 3px;
    cursor: pointer;
  }

  .vscode {
    /* background-color: #2d2d2d; */
    background-color: #1e1e1e;
    max-width: 580px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
    font-family: Consolas,"Lucida Console",Monaco,monospace;
    font-size: 13px;
    position: relative;
  }

  .vscode-typer {
    height: 17px;
    cursor: text;
  }

  .vscode table {
    /* background-color: #2d2d2d; */
    color: white;
    font-size: 13px;
    padding-top: 20px;
    margin: 0px;
    border-collapse: separate;
    /* width: initial; */
  }

  .vscode td:first-child {
    padding-right: 10px;
    color: #848484;
    text-align: right;
  }

  .vscode-header {
    margin: -10px -10px 10px -10px;
    padding: 10px 0px 10px 0px;
    background-color: #2d2d2d;
    border-bottom: #1d1c1c solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
  }

  .vscode-header span:not(.linux-x)
  {
    text-align: center;
    display: block;
    color: gray;
  }

  .vscode-title.inactiveTab {
    margin: 0px;
    background-color: #2d2d2d;
    border: #1e1e1e 1px solid;
  }

  .vscode-title-container {
    white-space: nowrap;
    overflow-x: clip;
    /* text-overflow: ellipsis; */
    color: #929191;
    margin: 0px -10px 0px 0px;
  }

  .vscode-title {
    color: #929191;
    
    background-color: #1e1e1e;
    display: inline;
    padding: 10px;
    margin: -9px;
    cursor: pointer;
  }
  .vscode-title img {
    height: 15px;
    width: 15px;
    vertical-align: bottom;
    /* padding-right: 6px; */
  }

  .vscode-blue {
    color: #5498d1;
    /* for ?? key words */
  }

  .vscode-green {
    color: #689654; 
    /* for comments */
  }

  .vscode-orange {
    color: #c08871;
    /* for urls or strings or paths */
  }
  /* ------------------------------------------------------------------------ */
/* ---------------phone view + ladyblog --------------------------- */
  
.wiki-logo {
    margin: 0 auto;
    display: table;
    min-width: 200px;
}

.phone-view {
    border: 1px solid gray;
    background: white;
    /* padding: 0em 1em 1em 1em; */
    min-width: 250px;
    max-width: 500px;
    /* font-family: "Segoe UI"; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* display: table; */
    margin: 10px auto;
    position: relative;
    /* background-color: white; */
    /* background: rgb(229, 231, 235); */
    /* text-align: justify; */
    /* padding: 10px; */

    /* experimenting w gradiaent */
    color: black;
}

.header-address-bar {
    background-color: white;
    color: black;
    /* min-width: 50px; */
    /* width: 100px; */
    /* margin-right: 1em; */
    /* float: right; */
    height: 1.5em;
    border-radius: 12px;
    margin-top: -30px !important;
    margin-bottom: 8px !important;
    margin-left: 43px !important;
    max-width: 90%;
    /* width: 70%; */
    padding-left: 0.7em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

  .header-browser {
    max-width: 500px;
    min-width: 250px;
    height: 36px;
    background-color: gray;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    display: block;
  }

  .header-browser::before {
    content: url(https://img.icons8.com/material-outlined/20/ffffff/home--v2.png);
    cursor: pointer;
    float: left;
    margin-left: 11px;
    margin-top: 4px;
    transform: scale(1.3,1.0);
    color: #fff;
  }

  .header-browser:after {
    content: url(https://img.icons8.com/ios-glyphs/25/ffffff/menu-2.png);
    display: inline-block;
    position: relative;
    /* font-weight: bold;
    font-size: 14px; */
    padding-top: 0.1em;
    height: 90%;
    float: right;
    color: white;
    /* -webkit-transform: scale(1.5, 1.0);
    -moz-transform: scale(1.5, 1.0);
    -ms-transform: scale(1.5, 1.0);
    -o-transform: scale(1.5, 1.0);
    transform: scale(1.5,1.0); */
    cursor: pointer;
  }

  .header-white > p, .phone-view > p, .collapse {
    margin: 0;
  }
/* --------------------------------------------------------------- */

/* jihnari gmail */

/* p.gmail-up-arrow-gimmick:hover ~ div.gmail-info-box {
    display: none;
    }
    p.gmail-up-arrow-gimmick:hover .gmail-up-arrow{
      border: solid #5F6266;
      opacity: 0.7;
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 2px;
      margin-left:2px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    
    p.gmail-down-arrow-gimmick:hover ~ div.hidden-gmail-info-box {
      display:block;
      margin-bottom: 20px;
    }
    p.gmail-down-arrow-gimmick:hover .gmail-down-arrow {
      border: solid #5F6266;
      opacity: 0.7;
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 2px;
      margin-left:2px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    } */
    
    span.gmail-arrow-box:hover ~ div > div.gmail-info-box {
    display: none;
    }
    
    div.gmail-font > a
    {
      color: #2372DB;
      text-decoration: none !important;
    }
    
    .gmail-down-arrow-gimmick{
      margin-bottom: 20px;
      white-space: nowrap;
    }
    
    .gmail-up-arrow-gimmick{
      white-space: nowrap;
    }
    
    /* lmao idk */
    .gmail-reply-button{
      height: 30px;
      display: inline-block;
      margin-right: -5px;
      float: right;
      cursor: pointer;
      overflow: hidden;
    }
    
    .gmail-font{
      font-family: 'Roboto', sans-serif;
      padding: 10px;
      max-width: 600px;
      min-width: 280px;
      margin: 0 auto;
    }
    .gmail-weak-text{
    /* color:#5F6266; */
    opacity: 0.7;
    }
    .gmail-tail{
    color:#878787;
    }
    .gmail-info-left{
    /* color:#5F6266; */
    opacity: 0.7;
    padding-right: 10px;
    }
    .gmail-sender{
    font-weight:bold;
    font-size:1.1em;
    }
    .gmail-reciever{
    font-size:.8em;
    /* color:#5F6266; */
    opacity: 0.7;
    }
    .gmail-send-time{
    /* color:#5F6266; */
    opacity: 0.7;
    font-size:.7em;
    padding-left:7px;
    
    }
    .gmail-indent{
    padding-left:50px;
    }
    .gmail-tag{
      border-radius: 4px;
      background: #EEEEEE;
      color: #363636;
      padding: 4px;
      font-size:.8em;
      cursor: pointer;
    }
    .gmail-info-box{
      border-color: #DBDCDF;
      border-style: solid;
      border-width: 1px;
      border-radius: 10px;
      padding: 10px;
      font-size: .8em;
      margin-bottom: 10px;
      /* line-height: 1.5em; */
    }
    .hidden-gmail-info-box{
      border-color: #DBDCDF;
      border-style: solid;
      border-width: 1px;
      border-radius: 10px;
      padding: 10px;
      font-size: .8em;
      margin-bottom: 10px;
      display:none;
    }
    
    .gmail-subject-buffer {
      margin-bottom: 20px;
      margin-top: -10px;
    }
    .gmail-subject {
      font-size: 1.5em;
    
    }
    
    .gmail-hr{
      border-bottom: 1px solid #EDEEEF;
    }
    .gmail-body{
    
    }

    .gmail-up-arrow{
      border: solid #5F6266;
      /* opacity: 0.7; */
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 2px;
      margin-left:2px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
    .gmail-down-arrow{
      border: solid #5F6266;
      /* opacity: 0.7; */
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 2px;
      margin-left:2px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    .gmail-link{
      color: #2372DB;
      text-decoration: none;
      cursor: pointer;
    }
    .gmail-quoted-text{
      color: #2372DB;
      text-decoration: none;
      font-size:.8em;
      cursor: pointer;
    }
    .gmail-dot{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 15px;
      /* background-color: #EDEEEF; */
      margin-bottom: -15px;
      float: left;
    }

    .gmail-dot img {
      border-radius: 50%;
    }
    
    .gmail-red{
      color:red;
      font-size:1.4em;
    }
    .gmail-secret{
      font-family: Tahoma,Verdana,Segoe,sans-serif;
    }
    
    
    .red-top{
      border-top: 2.5px solid #CF3F3D;
      /* the offset is off, its fine, i give up */
      /* margin-right: -1px; */
    }
    .blue-top{
      border-top: 2.5px solid #5281D8;
      /* margin-left: -3px; */
    }
    .yellow-top{
      border-top: 2.5px solid #EDC151;
    }
    
    .gmail-sig{
      display:inline-block;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .gmail-font .inline {
        display: inline-block;
    }

    .gmail-font details {
      margin: 0px;
    }
    .gmail-font details > summary {
        list-style: none;
    }

    .gmail-font details summary::-webkit-details-marker,
    .gmail-font details summary::marker {
      display: none;
    }

    .gmail-font details div p {
        margin: 10px 0px 0px;
    }

    .gmail-attach
    {
        position: relative;
        white-space: nowrap;
        overflow-x: clip;
        text-overflow: ellipsis;
    }

    .gmail-attach .gmail-box {
        width: 130px;
        border: lightgrey solid 1px;
        height: 130px;
        display: inline-block;
        /* margin-top: 80px; */
        overflow-x: clip;
        text-overflow: ellipsis;
        background: whitesmoke;
        cursor: pointer;
    }

    .gmail-attach-preview {
        margin-top: 102px;
        display: inline-block;
        border-top: lightgray solid 1px;
        background: white ;
        color: black;
    }

    .gmail-attach-preview::before {
        /* content: url(https://i.imgur.com/A0d9ErL.png); */

        content: "";
        background-image:url(https://i.imgur.com/A0d9ErL.png);
        background-size: 100% 100%;
        display: inline-block;

        /*size of your image*/
        height: 25px;
        width:25px;
        position: relative;
        vertical-align: middle;
    }

    /* ------------------------------------------------------------------------------------------ */
    /* wikipedia skin https://archiveofourown.org/works/44585884/chapters/112154773 */

    .phone-view.ladyblog {
        background-image: url(https://i.imgur.com/9XnOnbv.png);
        background-repeat: repeat;
        background-position: top;
    }

    .ladyblog-bar {
        margin: 0px 0px 0px -4px !important;
        padding: 8px 4px 8px 4px;
        display: inline-flex;
        /* width: 100%; */
        background: #ff3881;
        width: 100%;
        border-radius: 25px;
    }
    .ladyblog-bar a {
        width: 25%;
        text-align: center;
        cursor: pointer;
        color: white;
        border: none;
        text-decoration: none !important;
    }
    .ladyblog-bar a:hover {
        background: #f571a2;
        margin: -8px;
        padding: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    /* .ladyblog-bar a.first:hover {
        margin-left: -4px !important;
    } */
    .ladyblog .article {
        /* height: 100%; */
        min-height: 75%;
        background: none;
        background-image: url(https://i.imgur.com/JM3pRI7.png);
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: bottom;
        /* background-size: contain; */
    }

    .ladyblog .article-content {
        padding: 10px;
        margin: 10px auto;
        background-color: pink;
        opacity: 0.8;
        border-radius: 20px;
        position: relative;
    }

    .article-content img.thumbnail {
        padding: 10px;
        width: 85%;
        margin: 0 auto;
        display: block;
        cursor: pointer;
    }

    .ladyblog .article-content img.pin {
        position: absolute;
        right: 15px;
        /* bottom: 15px; */
        height: 30px;
        cursor: pointer;
    }

    .ladyblog .article-content span.read-more {
        padding: 6px 12px;
        background: #ff3881;
        color: white;
        cursor: pointer;
        /* display: inline; */
        text-align: center;
        border-radius: 20px;
        position: absolute;
        right: 15px;
        /* bottom: 15px; */
    }

    img.lb-share, img.lb-heart, img.lb-comment  {
        height: 30px;
        cursor: pointer;
    }

    .ladyblog p.span-cont span {
        display: inline-flex;
    }

    .article-content:hover {
        opacity: 1;
    }

    /* ------- wikipedia stuff -------*/

    .siteSub {
        font-size: 65%;
    }
    .article {
        padding: 0em 1em;
        /* border-left: 1px solid #a7d7f9;
        border-right: 1px solid #a7d7f9;
        
        border-top: 1px solid #a7d7f9;
        border-bottom: 1px solid #a7d7f9; */
        background: #FFF;
        line-height: 1.6;
        font-size: 1em;
        /* height: 100%; */
        position: relative;
        /* width: 95%;
        max-width: 95%; */
        }
        
        .article p {
        line-height: inherit;
        margin: 0.5em 0;
        }
        
        span.user {
        background-position: left top;
        background-repeat: no-repeat;
        padding-left: 15px !important;
        }
        
        div.articleRightside {
        border: 1px solid #c8ccd1;
        padding: 3px;
        float: right;
        background-color: #f8f9fa;
        font-size: 94%;
        text-align: left;
        overflow: hidden;
        line-height: 1.4em;
        margin: 0 0 5px 15px;
        width: 35%;
        min-width: 200px;
        }
        
        div.articleRightside1 {
        border: 1px solid #c8ccd1;
        padding: 3px;
        background-color: #f8f9fa;
        font-size: 89%;
        text-align: left;
        overflow: hidden;
        width: 97%;
        }
        
        div.articleRightside2 {
        border: 1px solid #c8ccd1;
        padding: 3px 0px 3px 3px;
        background-color: #dae0e6;
        font-size: 100%;
        text-align: center;
        overflow: hidden;
        width: 97%;
        }
        
        .contentsPanel {
        border: 1px solid #a2a9b1;
        background-color: #f8f9fa;
        padding: 5px;
        font-size: 95%;
        position: relative;
        line-height: 1.1em;
        width: 35%;
        }
        
        .contentsHeader {
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        }
        
        .contentsPanel ul li span {
        display: inline-block;
        margin-right: 8px;
        }
        
        .contentsPanel ul {
        padding: 0 0 5px 5px;
        }
        
        .contentsPanel ul li ul li {
        padding: 0 0 0 25px;
        }
        
        .h1 {
        line-height: 1.3;
        margin: 0em 0.25em 0em 0em;
        padding: 0;
        letter-spacing: 0;
        font-size: 2.3em;
        text-align: left;
        }
        
        /* a,
        a:visited {
        color: #0645ad;
        cursor: pointer;
        text-decoration: none !important;
        border: none;
        } */
        
        a:hover {
        text-decoration: underline;
        }
        
        .fake_a {
        color: #0645ad;
        text-decoration: none;
        cursor: pointer;
        }
        
        .fake_a:hover {
        text-decoration: underline;
        }
        
        hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
        }
        
        small {
        font-size: 80%;
        }
        
        sub,
        sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        }
        
        sup {
        top: -0.5em;
        }
        
        sub {
        bottom: -0.25em;
        }
        
        img {
        border: 0;
        max-width: 100%;
        }
        
        ul {
        list-style-type: none;
        list-style-image: none;
        margin: 0;
        /* padding: 0.3em 0 0 0; */
        }
        
        /* li {
        list-style-type: none;
        list-style-image: none;
        padding: 0.3em 0 0 0;
        margin-left: 1em;
        } */
        
        .h3 {
        padding: 0;
        margin-bottom: 0;
        font-weight: bold;
        color: #000000;
        font-size: 22px;
        font-family: "Linux Libertine", Georgia, Times, serif;
        border-bottom: 1px solid #d4d4d4;
        }
        
        table.styledTable {
        text-align: left;
        }
        
        table.styledTable td,
        table.styledTable th {
        width: 50%;
        }
        
        table.styledTable1 {
        background-color: #F8F9FA;
        text-align: left;
        float: left;
        width: 50%;
        }
        
        table.styledTable1 td,
        table.styledTable1 th {
        border: 1px solid #a2a9b1;
        }
        
        table.styledTable2 {
        background-color: #F8F9FA;
        text-align: left;
        border: 1px solid #a2a9b1;
        width: 100%;
        padding: 7px;
        table-layout: fixed;
        border-collapse: collapse;
        }
        
        table.styledTable2 td,
        table.styledTable2 th {
        border: 1px solid #a2a9b1;
        padding: 7px;
        }
        
        table tr td.td2:last-child {
        word-break: break-word;
        }
        
        .headedTable1 {
        background: #EAECF0;
        }
        
        .headedTable2 {
        background: #c5e4e1;
        }
        
        .headedTable3 {
        background: #a0d6b4;
        }
        
        .section1 {
        padding: 0;
        margin-top: 2em;
        margin-bottom: 0;
        color: #000000;
        font-weight: semibold;
        font-size: 22px;
        font-family: Georgia, serif;
        border-bottom: 1px solid #d4d4d4;
        }
        
        .section2 {
        line-height: 1.3;
        margin-bottom: 0.25em;
        padding: 0;
        letter-spacing: 0;
        font-size: 1.1em;
        text-align: left;
        font-weight: bold;
        }
        
        .section3 {
        line-height: 1.3;
        margin-bottom: 0.25em;
        padding: 5px;
        letter-spacing: 0;
        font-size: 1em;
        text-align: left;
        font-weight: bold;
        text-indent: 5px;
        }
        
        .gallery2 {
        border: 1px solid #c8ccd1;
        padding: 3px;
        background-color: #f8f9fa;
        font-size: 94%;
        text-align: center;
        overflow: hidden;
        display: inline-block;
        line-height: 1.4em;
        margin: 5px 5px 5px 5px;
        width: 95%;
        /* height: 95%; */
        border-left: 1px solid #c8ccd1;
        border-right: 1px solid #c8ccd1;
        border-top: 1px solid #c8ccd1;
        border-bottom: 1px solid #c8ccd1;
        }
        
        .gallery1 {
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        padding: 10px;
        font-size: 80%;
        text-align: center;
        position: relative;
        overflow: hidden;
        line-height: 1.4em;
        margin: 10px 10px 10px 10px;
        width: 30%;
        display: inline-block;
        box-sizing: border-box;
        transition: 0.5s;
        }
        
        .gallery1:hover {
        transform: scale(1.3);
        }
        
        .char {
        padding-left: 10px;
        }
        
        .reference-text {
        font-size: 0.8em;
        }
        
        .bottomBox {
        background: #fdfdfd;
        border: 1px solid #a2a9b1;
        clear: both;
        font-size: 88%;
        text-align: center;
        padding: 3px;
        line-height: 1.7em;
        margin: 1em auto 0;
        }
        
        .bottomBox .header {
        background: #cfe3ff;
        padding: 0.25em 1em;
        line-height: 1.5em;
        text-align: center;
        font-weight: bold;
        color: #0645ad;
        font-size: 115%;
        margin-bottom: 3px;
        }
        
        .categories {
        border: 1px solid #a2a9b1;
        background-color: #f8f9fa;
        padding: 5px;
        margin-top: 1em;
        font-size: 0.9em;
        clear: both;
        }
        
        .pagefooter {
        padding: 1.5em 1.3em 2em;
        font-size: 75%;
        line-height: 2em;
        }

    /* ------------------------------------------------------------------------------------------ */
    /* generic box stuff w svgs */

    .whitebox {
        font-family: sans-serif;
        background: #fff;
        color: #000;
        padding: 15px;
        /* width: 65%; */
        max-width: 500px;
        margin: 0 auto 25px;
        display: block;
        box-shadow: 0 0px 1px grey, 0 0px 1px grey;
        /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
      }

      .whitebox p span {
        display: block;
        text-align: center;
        margin: 0 auto;
      }

      .redacted {
        background-color: black;
        color: black;
      }
      .redacted:active, .redacted:hover {
        background-color: lightgray;
      }

     

      .ai-checker-title {
        font-size: 30px;
      }

      .ai-checker-title ~ sub {
        text-align: center;
        margin: 0 auto;
        display: block;
      }

      .ai-checker-thumbnail {
        width: 80%;
        margin: 0 auto;
        display: block;
        cursor: pointer;
      }

      .ai-checker-cont1 {
        display: inline-flex !important;
        margin: 15px auto;
      }

      .ai-checker-percent
      {
        height: 37%;
        width: 37%;
      }

      .ai-checker-caption {
        margin: 20% auto !important;
      }

      .ai-checker-caption2 {
        /* text-align: left !important; */
        font-size: 11px;
      }
      
      .ai-checker-caption2 .gmail-link {
        display: inline;
      }

      .blackbox {
        font-family: sans-serif;
        background: black;
        color: white;
        padding: 15px;
        /* width: 65%; */
        max-width: 500px;
        margin: 0 auto 25px;
        display: block;
        /* box-shadow: 0 1px 3px grey, 0 1px 2px grey; */
        /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
      }

      .blackbox table {
        color: white
      }

      .whitebox table {
        color: black;
      }

      .blackbox table tr:hover ,
      .whitebox table tr:hover ,
      .blackbox table td:hover ,
      .whitebox table td:hover  {
        background: transparent;
        color: inherit;
      }

      .blackbox table td:first-child,
      .whitebox table td:first-child {
        padding-right: 15px;
        /* color: #848484; */
        text-align: left;
        vertical-align: top;
      }

      .blackbox .hm {
        color: #c8aeff;
        -webkit-text-stroke-width: 0.4px;
        -webkit-text-stroke-color: rebeccapurple;
        text-shadow: #8279ff -1px 0px 10px, #8279ff -1px 0px 10px, #8279ff -1px 0px 15px;
      }

      .top-rip
      {
        height: 41px;
        width: 530px;
        display: block;
        margin: 0 auto;
        margin-bottom: -20px;
        padding-right: 0px;
      }

      .bottom-rip
      {
        height: 41px;
        width: 530px;
        display: block;
        margin: 0 auto;
        margin-top: -25px;
        padding-right: 0px;
      }


      /* ----------------- convo container ------------------------------------------------------------------------ */

      p {
        margin: 1.286em auto;
        padding: 0;
        line-height: 1.5;
      }

      .convo-container {
        display: table;
        padding: 10px;
        min-width: 300px;
        max-width: 416px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        font-family: sans-serif;
        font-size: 13px;
        background-color: green;
      }
      
      p.convo-break {
        display: flex;
        width: 100%;
        margin: 0;
      }
      
      img.bataraang {
        width: 70%;
        margin: 0 auto;
        /* box-shadow: 10px 10px; */
        /* filter: drop-shadow(7px 5px 3px rgba(0, 0, 0, 0.2)); */
      }

      p.convo-pad {
        display: flex;
        width: 100%;
        margin: 24em auto;
      }
      
      .mari-room {
        background: url("https://i.imgur.com/HqWeLt8.png") repeat center center scroll;
        background-size: contain;
        background-attachment: fixed;
      }

      .hm-lair {
        background: url("https://i.imgur.com/CMRFnhj.png") repeat center center scroll;
        background-size: contain;
        background-attachment: fixed;
      }
      
      
      .center {
        text-align: center;
        font-size: 20px;
      }
      
      .padding-up {
        padding-top: 3.5em;
      }
      
      /* left aligned icon and dia */
      .convo-left {
          /* min-height: 80px; */
          float: left;
          display: flex;
      }
      
      .convo-left > p > .dia::after {
      content: '';
      border: 10px solid transparent;
      border-right-color: #8f8e8f;
      border-left: 0;
      position: absolute;
      left: -10px;
      top: 50%;
      margin-top: -10px;
      }
      
      /* .convo-left > p:nth-child(1) {
        margin-top: 50%;
      } */
      
      .convo-left > p > .convo-icon {
        width: 120px;
        /* max-height: 80px;
        min-width: 80px; */
        margin-right: 10px;
        /* top: 50%; */
      }
      
      /* right aligned icon and dia */
      .convo-right {
          float: right;
          /* min-height: 80px; */
          display: flex;
          margin-left: auto;
      }

      .w100 {
        width: 100px !important;
      }

      .w90 {
        width: 90px !important;
      }
      
      /* .convo-right > p > .dia {
        text-align: right;
      } */
      
      /* .convo-right > p:nth-child(2) {
        margin-top: 50%;
      } */
      
      .convo-right > p > .dia::after {
        content: '';
        border: 10px solid transparent;
        border-left-color: #8f8e8f;
        border-right: 0;
        position: absolute;
        right: -10px;
        top: 50%;
        margin-top: -10px;
      }
      
      .convo-right > p > .convo-icon {
        max-width: 120px;
        /* max-height: 80px;
        min-width: 80px; */
        margin-left: 10px;
      }
      
      .convo-icon {
        max-width: 120px;
        /* min-width: 80px; */
        margin: auto;
        height: auto;
      }
      
      /* center the dialogue box */
      .convo-left > p:nth-child(1), .convo-right > p:nth-child(2) {
        margin: auto;
      }
      
      .dia {
        position: relative;
        display: inline-block;
        text-align: left;
        border: 2px solid #8f8e8f;
        border-radius: 10px;
        max-width: 470px;
        padding: 10px;
        margin-top: 3%;
        margin-bottom: 3%;
        height: auto;
        z-index: 5;
      }
      
      .dia-desc {
        position: relative;
        text-align: center;
        border: 2px solid #8f8e8f;
        border-radius: 10px;
        max-width: 100px;
        padding: 10px;
        margin: 3% auto;
      }
      
      .dia-desc > p {
        margin: 0;
      }
      
      .white {
        background-color: white !important;
        color: black !important;
      }
      
      .black {
        background-color: black !important;
        color: white !important;
      }

      .board-div {
        max-width: 700px;
        margin: 0 auto;
      }

      .board-p {
        overflow-x: scroll;
        /* cursor: pointer; */
      }

      /* Hide scrollbar for Chrome, Safari and Opera */
      .board-p::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .board-p {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }

      .board-span
      {
        /* width: 900px; */
        min-width: 500px;
        /* width: 700px; */
        display: block;
        /* background-image: url(https://i.imgur.com/Jvc6gCz.jpg); */
        margin: 10px;
        /* border: 30px solid gray; */
        border-radius: 20px;
        position: relative;

        border-top: 30px ridge gray;
        border-left: 30px groove gray;
        border-bottom: 30px groove gray;
        border-right: 30px ridge gray;
      }

      .board-span img {
        display: block;
      }
      
      /* ------------------------------------ thought bubbles ------------------------------------*/
      
      /* thought bubbles */
      .dia-thinking:before, 
      .dia-thinking:after {
      content: "";
      position: absolute;
      border-radius: 100%;
      background: white;
      border: none;
      
      }
      
      .convo-left > p > .dia-thinking:before {
      bottom: 0.5em;
      left: -1.5em;
      width: 1em;
      top: 40%;
      height: 1em;
      border: #8f8e8f;
      border-bottom-style: solid;
      border-left-style: solid;
      border-top-style: solid;
      border-width: thin;
      border-style: single;
      }
      
      .convo-left > p > .dia-thinking:after {
      bottom: 0.4em;
      left: -1em;
      top: 35%;
      width: 1.5em;
      height: 1.5em;
      border: #8f8e8f;
      border-bottom-style: solid;
      border-top-style: solid;
      border-width: thin;
      }
      
      .convo-right > p > .dia-thinking:before {
      bottom: 0.5em;
      right: -1.5em;
      width: 1em;
      top: 40%;
      height: 1em;
      border: #8f8e8f;
      border-bottom-style: solid;
      border-left-style: solid;
      border-top-style: solid;
      border-width: thin;
      border-style: single;
      }
      
      .convo-right > p > .dia-thinking:after {
      bottom: 0.4em;
      right: -1em;
      top: 35%;
      width: 1.5em;
      height: 1.5em;
      border: #8f8e8f;
      border-bottom-style: solid;
      border-top-style: solid;
      border-width: thin;
      }
      
      .dia-thinking {
      position: relative;
      display: inline-block;
      text-align: left;
      border: 2px solid #8f8e8f;
      border-radius: 10px;
      max-width: 470px;
      padding: 10px;
      margin-top: 3%;
      margin-bottom: 3%;
      height: auto;
      }
      
      .thinking-small:after, .thinking-small:before {
        content: ''
      } 
      
      .convo-left .thinking-small:after {
        left: -.5em !important;
        /* top: 31% !important; */
        width: 1em !important;
        height: 1em !important;
        }
        .convo-left .thinking-small:before {
        left: -1em !important;
        width: 0.5em !important;
        top: 40% !important;
        height: 0.5em !important;
        }
        
        .convo-right .thinking-small:after {
        right: -0.75em !important;
        /* left: -.5em !important; */
        /* top: 31% !important; */
        width: 1em !important;
        height: 1em !important;
        }
        .convo-right .thinking-small:before {
        /* left: -1em !important; */
        
        right: -1.1em !important;
        width: 0.5em !important;
        top: 40% !important;
        height: 0.5em !important;
        }
      
      /* ------------------------------------end thought bubbles------------------------------------*/