/* remove markers */
.fic-spoiler summary,
.fic-body summary {
    list-style-type: none;
    cursor: pointer;
  }

details.fic-steps[open] > summary ,
.fic-spoiler details > summary::-webkit-details-marker,
.fic-spoiler details > summary::marker ,
.fic-body details > summary::-webkit-details-marker,
.fic-body details > summary::marker {
    display: none;
  }

.fic-steps, .steps-result {
   display: none;
}

#workskin:has(details.fic-spoiler[open]) .fic-steps {
    display: none !important;
}

#workskin:has(details.fic-spoiler[open]) .steps-result {
   display: block;
}

/* go to the next "step", 
hide the open details so that you cant go backwards */
  details.fic-steps.step1,
  details.step1[open] ~ .steps-result.step1,
  details.step1[open] ~ .fic-steps.step2,

  details.step2[open] ~ .steps-result.step2,
  details.step2[open] ~ .fic-steps.step3,

  details.step3[open] ~ .steps-result.step3,
  details.step3[open] ~ .fic-steps.step4,

  details.step4[open] ~ .steps-result.step4,
  details.step4[open] ~ .fic-steps.step5,

  details.step5[open] ~ .steps-result.step5,
  details.step5[open] ~ .fic-steps.step6,

  details.step6[open] ~ .steps-result.step6,
  details.step6[open] ~ .fic-steps.step7,

  details.step7[open] ~ .steps-result.step7,
  details.step7[open] ~ .fic-steps.step8,

  details.step8[open] ~ .steps-result.step8,
  details.step8[open] ~ .fic-steps.step9,

  details.step9[open] ~ .steps-result.step9,
  details.step9[open] ~ .fic-steps.step10,

  details.step10[open] ~ .steps-result.step10,
  details.step10[open] ~ .fic-steps.step11,

  details.step11[open] ~ .steps-result.step11,
  details.step11[open] ~ .fic-steps.step12,

  details.step12[open] ~ .steps-result.step12,
  details.step12[open] ~ .fic-steps.step13,

  details.step13[open] ~ .steps-result.step13,
  details.step13[open] ~ .fic-steps.step14,

  details.step14[open] ~ .steps-result.step14,
  details.step14[open] ~ .fic-steps.step15,

  details.step15[open] ~ .steps-result.step15,
  details.step15[open] ~ .fic-steps.step16,

  details.step16[open] ~ .steps-result.step16,
  details.step16[open] ~ .fic-steps.step17,

  details.step17[open] ~ .steps-result.step17,
  details.step17[open] ~ .fic-steps.step18,

  details.step18[open] ~ .steps-result.step18,
  details.step18[open] ~ .fic-steps.step19,

  details.step19[open] ~ .steps-result.step19,
  details.step19[open] ~ .fic-steps.step20,

  details.step20[open] ~ .steps-result.step20,
  details.step20[open] ~ .fic-steps.step21,

  details.step21[open] ~ .steps-result.step21,
  details.step21[open] ~ .fic-steps.step22,

  details.step22[open] ~ .steps-result.step22,
  details.step22[open] ~ .fic-steps.step23,

  details.step23[open] ~ .steps-result.step23,
  details.step23[open] ~ .fic-steps.step24,

  details.step24[open] ~ .steps-result.step24,
  details.step24[open] ~ .fic-steps.step25,

  details.step25[open] ~ .steps-result.step25,
  details.step25[open] ~ .fic-steps.step26,

  details.step26[open] ~ .steps-result.step26,
  details.step26[open] ~ .fic-steps.step27,

  details.step27[open] ~ .steps-result.step27,
  details.step27[open] ~ .fic-steps.step28,

  details.step28[open] ~ .steps-result.step28,
  details.step28[open] ~ .fic-steps.step29

  /* .fic-body:has(details.step1[open]) .fic-steps.step2, */
  /* .fic-body:has(details.step2[open]) .steps-result.step2 */
  {
    display: block;
   }

  /* details[open]:before {
    content: '';
    background-color: aqua;
    height: 30px;
    width: 30px;
  } */

/* ------------------------------------------------------------ */
/* 4th wall stuff */

.hide {
    display: none;
}

/* hide comments by default */
#workskin ~ #feedback {
    display: none;
}

/* begin notes */
/* #workskin .preface.group .note.module {

} */

/* end notes */
/* #workskin #work_endnotes {

} */

div.inline {
    display: inline-block;
}

div.inline p {
    display: inline;
}

details.fic-spoiler {
    margin: 0px;
    display: inline-flex;
}

.notes.modules:not(.end) .userstuff {
    font-size: 14px;
}

.fic-spoiler summary {
    cursor: text;
}

#workskin:has(details.fic-steps[open]) .fic-spoiler summary {
    cursor: pointer !important;  
    /* make it obvious after they go through part of the fic*/
}

.endnotes-div {
    display: none;
}

/* show end notes sequentially */
#workskin:has(details.step1:not([open])) .step0-endnotes, /* first */
#workskin:has(details.step1[open]):has(details.step2:not([open])) .step1-endnotes,
#workskin:has(details.step2[open]):has(details.step3:not([open])) .step2-endnotes,
#workskin:has(details.step3[open]):has(details.step4:not([open])) .step3-endnotes,
#workskin:has(details.step4[open]):has(details.step5:not([open])) .step4-endnotes,
#workskin:has(details.step5[open]):has(details.step6:not([open])) .step5-endnotes,
#workskin:has(details.step6[open]):has(details.step7:not([open])) .step6-endnotes,
#workskin:has(details.step7[open]):has(details.step8:not([open])) .step7-endnotes,
#workskin:has(details.step8[open]):has(details.step9:not([open])) .step8-endnotes,
#workskin:has(details.step9[open]):has(details.step10:not([open])) .step9-endnotes,
#workskin:has(details.step10[open]):has(details.step11:not([open])) .step10-endnotes,

#workskin:has(details.step11[open]):has(details.step12:not([open])) .step11-endnotes,
#workskin:has(details.step12[open]):has(details.step13:not([open])) .step12-endnotes,
#workskin:has(details.step13[open]):has(details.step14:not([open])) .step13-endnotes,
#workskin:has(details.step14[open]):has(details.step15:not([open])) .step14-endnotes,
#workskin:has(details.step15[open]):has(details.step16:not([open])) .step15-endnotes,
/* #workskin:has(details.step16[open]):has(details.step17:not([open])) .step16-endnotes, */
#workskin:has(details.step17[open]):has(details.step18:not([open])) .step17-endnotes,
#workskin:has(details.step18[open]):has(details.step19:not([open])) .step18-endnotes,
/* #workskin:has(details.step19[open]):has(details.step20:not([open])) .step19-endnotes, */
/* #workskin:has(details.step20[open]):has(details.step21:not([open])) .step20-endnotes, */

/* #workskin:has(details.step21[open]):has(details.step22:not([open])) .step21-endnotes, */
/* #workskin:has(details.step22[open]):has(details.step23:not([open])) .step22-endnotes, */
#workskin:has(details.step23[open]):has(details.step24:not([open])) .step23-endnotes,
/* #workskin:has(details.step24[open]):has(details.step25:not([open])) .step24-endnotes, */
/* #workskin:has(details.step25[open]):has(details.step26:not([open])) .step25-endnotes, */
/* #workskin:has(details.step26[open]):has(details.step27:not([open])) .step26-endnotes, */
#workskin:has(details.step27[open]):has(details.step28:not([open])) .step27-endnotes
{
    display: block;
}

/* hide active endnotes-div and only display step27 notes when fic-spoiler is clicked */
#workskin:has(details.fic-spoiler[open]) .endnotes-div:not(.step27-endnotes)
{
    display: none !important;
}
/* 
edge cases, hide the entire end notes block 
16, 19, 20, 21, 22, 24, 25, 26 */
#workskin:has(details.step16[open]):has(details.step17:not([open])) .afterword.preface.group,
#workskin:has(details.step19[open]):has(details.step20:not([open])) .afterword.preface.group,
#workskin:has(details.step20[open]):has(details.step21:not([open])) .afterword.preface.group,
#workskin:has(details.step21[open]):has(details.step22:not([open])) .afterword.preface.group,
#workskin:has(details.step22[open]):has(details.step23:not([open])) .afterword.preface.group,
#workskin:has(details.step24[open]):has(details.step25:not([open])) .afterword.preface.group,
#workskin:has(details.step25[open]):has(details.step26:not([open])) .afterword.preface.group,
#workskin:has(details.step26[open]):has(details.step27:not([open])) .afterword.preface.group
{
    display: none;
}

/* .fic-spoiler / end of fic behavior, display comments kudos */
#workskin:has(details.fic-spoiler[open]) #work_endnotes,
#workskin:has(details.fic-spoiler[open]) .step27-endnotes,
#workskin:has(details.fic-spoiler[open]) ~ #feedback,
#workskin:has(details.step27[open]) #work_endnotes,
#workskin:has(details.step27[open]) .step27-endnotes,
#workskin:has(details.step27[open]) ~ #feedback
{
    display: block;
}