  /* ------------------------------------------------------------------------------------- */
/* whatsapp etc e tal (wanningzinho) https://archiveofourown.org/works/46531021#3.3 */
/* use group chat header, background, and audio from this one */
/* and maybe emoji reactions */


  /* ------------------------------------------------------------------------------------- */
  /* whatsapp by lordvoldemortsskin (lordvoldemortsnipple) https://archiveofourown.org/works/24838792/chapters/60135160*/
  
.window {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    background: pink repeat;
  }
  
.inside {
    white-space: nowrap;
    margin-right: 5px;
    color: #000;
    font-size: 13px;
  }
  
.time,
.timeSend,
.timeGet {
    white-space: nowrap;
    font-size: 10px;
  }
  
.timeSend {
    color: #6a7d4f;
  }
  
.timeGet {
    color: #808080;
  }
  
.seen:after {
    content: url("https://i.ibb.co/zVTTd25/seen.png");
  }
  
.recieved:after {
    content: url("https://i.ibb.co/V9Gd7R3/recieved.png");
  }
  
.sent:after {
    content: url("https://i.ibb.co/kxFkGbT/sent.png");
  }

.whatsSend,
.whatsSend2 {
  white-space: nowrap;
  position: relative;
  float: right;
  clear: both;
  border-radius: 5px;
  width: min-content;
  background: #dcf4bd;
  box-shadow: 1px 1px 0 #b3b3b3;
  padding: 4px 5px 5px 8px;
  margin-bottom: -8px;
  margin-left: 100px;
}

.whatsSend2 {
  margin-top: 11px;
}

.whatsSend:before {
  border-right: 11px solid transparent;
  border-top: 11px solid #b3b3b3;
  content: "";
  position: absolute;
  right: -11px;
  top: 0px;
}

.whatsSend:after {
  border-right: 12px solid transparent;
  border-top: 11px solid #dcf4bd;
  content: "";
  position: absolute;
  right: -10px;
  top: 0px;
}

.whatsGet,
.whatsGet2 {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  margin-left: 0;
  border-radius: 5px;
  width: min-content;
  background: #fdfdfd;
  border-top: 0.5px solid #f2f2f2;
  border-left: 0.5px solid #f2f2f2;
  box-shadow: 1px 1px 0 #b3b3b3;
  padding: 4px 5px 5px 8px;
  margin-bottom: -8px;
  margin-right: 100px;
}

.whatsGet2 {
  margin-top: 11px;
}

.whatsGet:before {
  border-left: 11px solid transparent;
  border-top: 11px solid #b3b3b3;
  content: "";
  position: absolute;
  left: -11px;
  top: 0px;
}

.whatsGet:after {
  border-left: 12px solid transparent;
  border-top: 11px solid #fdfdfd;
  content: "";
  position: absolute;
  left: -10px;
  top: 0px;
}
.name,
.newcontact,
.name1,
.name2,
.name3,
.name4 {
  font-size: 12px;
  margin-bottom: -18px;
}

.name1 {
  color: #ffa366;
}

.name2 {
  color: #4162d8;
}

.name3 {
  color: #69b3a9;
}

.name4 {
  color: #f195b4;
}

.newcontact {
  color: #b3b3b3;
}

.subject {
  text-align: center;
  font-size: 12px;
  display: block;
  white-space: nowrap;
  border-radius: 5px;
  width: min-content;
  background: #e1f5fe;
  border-top: 0.5px solid #f2f2f2;
  border-left: 0.5px solid #f2f2f2;
  box-shadow: 1px 1px 0 #b3b3b3;
  padding: 4px 5px 5px 8px;
  /* margin-bottom: -8px;
  margin-top: -8px; */
  margin: 10px auto;
  clear: both;
}

.hide { display: none;}
  
  /* ------------------------------------------------------------------------------------- */
/* ios messages by la temperanza https://archiveofourown.org/works/6434845/chapters/14729722  */
.phone {
  max-width: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: table;
  margin: auto;
  position: relative;
}

.header {
  min-width: 300px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #b2b2b2;
  color: #000000;
  font-weight: bold;
  padding-bottom: .5em;
  padding-top: .5em;
  margin-left: -.5em;
  margin-right: -.5em;
  margin-bottom: -2em;
  text-align: center;
  text-transform: capitalize;
  display: table;
}

.messagebody {
  background-color: #FFFFFF;
  display: table;
  padding-left: .5em;
  padding-right: .5em;
}

.text {
  float: left;
  color: #000000;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #e5e5ea;
  max-width: 75%;
  clear: both;
  position: relative;
}

.text::after {
  content: "";
  position: absolute;
  left: -.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-right: 0.5em solid #e5e5ea;
  border-bottom-right-radius: 1em 0.5em;
}

.breply {
  float: right;
  color: #FFFFFF;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #1289fe;
  max-width: 75%;
  clear: both;
  position: relative;
}

.breply::after {
  content: "";
  position: absolute;
  right: -0.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-left: 0.5em solid #1289fe;
  border-bottom-left-radius: 1em 0.5em;
}

.greply {
  float: right;
  color: #FFFFFF;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #35cb24;
  max-width: 75%;
  clear: both;
  position: relative;
}

.greply::after {
  content: "";
  position: absolute;
  right: -0.5em;
  bottom: 0;
  width: 0.5em;
  height: 1em;
  border-left: 0.5em solid #35cb24;
  border-bottom-left-radius: 1em 0.5em;
}

.grouptext {
  /* color: #7B7C80; */
  font-size: .75em;
  padding-bottom: .5em;
  padding-top: 0;
  margin-left: .5em;
  margin-bottom: -2.5em;
  text-align: left;
  display: table;
  clear: both;
}

.grouptext-info
{
  /* color: #7B7C80; */
  color: red;
  font-size: 12px;
  float: right;
  clear: both;
  margin-top: -9px;
}

.time {
  min-width: 295px;
  font-size: .75em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  margin-bottom: -0.5em;
  text-align: center;
  display: table;
}

.img-not-sent {
  content: url(https://img.icons8.com/material-outlined/24/null/info--v1.png);
  position: absolute;
  right: 5px;
  padding-top: 10px;
}

.not-sent {
  left: -25px;
}

  /* ------------------------------------------------------------------------------------- */
