<link rel="stylesheet" href="../CSS/ao3.css">
<link rel="stylesheet" href="../CSS/twitter_new.css">

<!-- <link rel="stylesheet" href="../CSS/groupchat.css"> -->

<!-- todos 
    - white blur
    - phone browser feel -->

    <!-- ao3 accessories
    search bar
    browse / fandom / other
    buttons (bookmarks, kudos , etc, ) -->

    <!-- todos: 
    
    fic box when you are actually viewing a work1! fix on template-->

<div class="phone-view">
    <p class="header-browser"></p>
    <p class="header-address-bar">https://www.google.com/search?q=lorem+impsum&oq=lore&aqs=chrome.1.69i57j69i59j69i61l3.2624j0j4&sourceid=chrome&ie=UTF-8</p>
    <div class="header-white">
        <p><img alt="Archive of Our Own" class="logo" src="https://archiveofourown.org/images/ao3_logos/logo_42.png"> </img> </p>
        <p class="logo-text">Archive of Our Own <sup class="logo-text-sup">beta</sup> </p>
    </div>
    <p class="login-info">Login</p>

    <!-- <span class="header-red"> </span> -->
    <p class="header-red-tabs"> Fandoms &nbsp Browse &nbsp Search &nbsp About &nbsp &nbsp
        <span class="search-bar"></span></p>

    <p class="fic-buttons">
        <span class="button">Entire Work</span>   <span class="button">Next Chapter →</span> 
        <span class="button">Chapter Index ↓</span>   <span class="button">Bookmark</span> 
        <span class="button">Mark for Later</span>   <span class="button">Comments</span> 
        <span class="button">Share</span>   
    </p>

    <div class="fic fic-shadow">
        <p class="collapse">Ratings:</p>
        <p class="tag-list"><span class="tags">Teen And Up Audiences</span></p>
        
        <p class="collapse"><b><span class="tags">Archive Warnings</span></b>:</p>
        <p class="tag-list"><b><span class="tags">No Warnings Apply</span></b></p>
        
        <p class="collapse">Fandom:</p>
        <p class="tag-list"><span class="tags">Danny Phantom</span></p>

        <p class="collapse">Relationships:</p>
        <p class="tag-list"><span class="rtag">Character A/Character B</span></p>
        
        <p class="collapse">Characters:</p>
        <p class="tag-list"><span class="tags">Danny Phantom</span>, <span class="tags">Danny Phantom</span></p>
        
        <p class="collapse">Additional Tags:</p>
        <p class="tag-list"><span class="tags">Danny Phantom</span>, <span class="tags">Danny Phantom</span></p>
        
        <p class="collapse">Language:</p>
        <p class="tag-list">English</p>
        
        <p>Part <b>#</b> of <span class="graylinks">Series Title</span><br /></p>
        <p class="collapse">Stats:</span>
        <p class="stats collapse">Published:&ensp;xxxx-xx-xx;&ensp;Updated:&ensp;xxxx-xx-xx;&ensp;Words:&ensp;#&emsp;Chapters:&ensp;#&emsp;Comments:&ensp;<span class="graylinks">#</span>&emsp;Kudos:&ensp;<span class="graylinks">#</span>&emsp;Bookmarks:&ensp;<span class="graylinks">#</span>&emsp;Hits:&ensp;#</p>
    </div>

    <div class="fic-content">
        <div class="fic-details">
            <p class="fic-title">Title</p>
            <p class="fic-author">Author</p>

            <p>Summary:</p> <hr class="underline"/>
            <p class="fic-summary-content">Summary Summary Summary Summary Summary
                Summary Summary Summary Summary Summary
                Summary Summary Summary Summary Summary
                Summary Summary Summary Summary Summary </p>
            
           
            <p>Notes:</p> <hr class="underline"/>
            <p class="fic-summary-content">Notes Notes Notes Notes v Notes
                Notes Notes Notes Notes v Notes
                Notes Notes Notes Notes v Notes
                Notes Notes Notes Notes v Notes
                Notes Notes Notes Notes v Notes
            </p> <br/> <hr class="underline" />
            <p class="fic-buttons">
                <span class="button edit-ch">Edit Chapter</span> 
            </p> 
            <p class="fic-chapter-center"><span class="fic-chapter">Chapter 1:</span> <span>Optional ch title</span></p>
        </div>

        <br />
        <div class="fic-words fadeout">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu libero egestas, convallis erat et, finibus lectus. Morbi ut hendrerit eros. Cras sit amet pulvinar risus. Cras dignissim vulputate arcu, vel pellentesque ligula faucibus eget. Morbi orci mi, tempus a faucibus et, pharetra vel risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus imperdiet ullamcorper. Nunc lacus libero, auctor id fermentum non, maximus et augue.

Mauris nisl nibh, luctus nec laoreet congue, lobortis eget nunc. Morbi non velit et erat porta auctor euismod nec lorem. Suspendisse potenti. Fusce sit amet nunc vulputate sem mollis lacinia. Nulla nec rhoncus enim, sed viverra ante. Phasellus nec est eget elit dictum viverra a sed dolor. Proin ullamcorper ullamcorper nibh, ut placerat justo scelerisque nec. Vivamus quis malesuada justo. Suspendisse ornare dictum rutrum. Sed id turpis ex. Suspendisse potenti. Aliquam erat volutpat. Curabitur nec tortor in enim condimentum malesuada consectetur at lectus.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis ultrices malesuada lectus, sagittis venenatis nibh vestibulum vel. Etiam aliquet mi est, ut commodo leo euismod non. Sed cursus id enim ac dictum. Etiam nec risus nec metus lacinia luctus nec finibus neque. Sed vel pretium felis, eget pellentesque odio. In rhoncus vehicula nunc sed euismod. Nulla diam diam, sollicitudin et lectus id, convallis hendrerit justo. Nunc dictum blandit dui, eu fermentum justo. Etiam sodales eros nec est placerat, sit amet malesuada turpis auctor.

In iaculis tincidunt nulla, id dictum ligula ullamcorper ac. Duis scelerisque molestie luctus. Nunc sollicitudin sagittis justo ac placerat. Cras quis dui scelerisque, semper velit blandit, condimentum massa. Aenean placerat erat ex, ut ornare elit molestie nec. Integer consequat mauris ac neque sodales cursus. Donec in volutpat massa.

Pellentesque vitae augue accumsan mauris volutpat pulvinar. Morbi vulputate libero vitae commodo hendrerit. Ut pretium euismod nulla, at efficitur orci suscipit a. Nulla egestas elit ut mattis suscipit. Sed lacus tellus, congue eget interdum nec, mattis quis lacus. Maecenas dapibus velit sed elit fringilla imperdiet. Duis at cursus dui, et dictum ligula. Suspendisse eget mi non orci vestibulum tristique id in est. Integer auctor erat sed nisl mattis mollis. Mauris iaculis ante in lobortis egestas. Suspendisse efficitur in risus sit amet luctus. Vestibulum bibendum eu justo quis gravida. Nullam ligula enim, venenatis et dolor vitae, semper dictum nibh. Praesent vel accumsan urna. Vestibulum non maximus nibh.
        </div>
    </div>
</div>

<br /><br />

<div class="phone-view">
    <p class="header-browser"></p>
    <p class="header-address-bar">some url .com</p>
    <div class="header-white">
        <p><img alt="Archive of Our Own" class="logo" src="https://archiveofourown.org/images/ao3_logos/logo_42.png"> </img> </p>
        <p class="logo-text">Archive of Our Own <sup class="logo-text-sup">beta</sup> </p>
    </div>
    <p class="login-info">Login</p>

    <p class="header-red-tabs"> Fandoms &nbsp Browse &nbsp Search &nbsp About &nbsp &nbsp
        <span class="search-bar"></span></p>


    <div class="fandom-view">
        <p class="collapse">1-20 of 7824 works in <span class="tags">Danny Phantom - RPF</span></p>
    </div>
    <p class="fandom-buttons">
        <span class="button">Works</span>   
        <span class="button">Bookmarks</span>
        <span class="button">Filters</span>  
        <span class="button">RSS Feed</span>   
    </p>

    <p class="fandom-buttons">
        <span>← Previous</span>
        <span class="button button-current">1</span>   
        <span class="button">2</span>
        <span class="button">3</span>  
        <span class="button">4</span> <span>...</span>  
        <span class="button">390</span>
        <span class="button">391</span>
        <span class="button">Next →</span>
    </p>

    <div class="fic">
        <p class="fic-ratings"><img src="https://i.imgur.com/F1pm79Q.png"></p>
        <p class="fichead"><span class="redlinks">Title</span> by <span class="redlinks">Author123</span><br />
        <span class="tags">Fandom - Creator</span></p>
        
        <p class="date">Dy Mth Year</p>
        
        <p><b><span class="tags">Archive Warnings</span></b>, <span class="rtag">Character A & Character B</span>, <span class="rtag">Character C/Character D</span>, <span class="tags">Tag 1</span>, <span class="tags">Tag 2</span>, <span class="tags">Tag 3</span>, <span class="tags">Tag 4</span>, <span class="tags">Tag 5</span>
        
        <p>Summary summary summary summary summary you get the idea right?<br /></p>
        
        <p>Part <b>#</b> of <span class="graylinks">Series Title</span><br /></p>
        
        <p class="stats">Language:&ensp;X&emsp;Words:&ensp;#&emsp;Chapters:&ensp;#&emsp;Comments:&ensp;<span class="graylinks">#</span>&emsp;Kudos:&ensp;<span class="graylinks">#</span>&emsp;Hits:&ensp;#</p>
    </div>

    <div class="fic">
        <p class="fic-ratings"><img src="https://i.imgur.com/F1pm79Q.png"></p>
        <p class="fichead"><span class="redlinks">Title</span> by <span class="redlinks">Author123</span><br />
        <span class="tags">Fandom - Creator</span></p>
        
        <p class="date">Dy Mth Year</p>
        
        <p><b><span class="tags">Archive Warnings</span></b>, <span class="rtag">Character A & Character B</span>, <span class="rtag">Character C/Character D</span>, <span class="tags">Tag 1</span>, <span class="tags">Tag 2</span>, <span class="tags">Tag 3</span>, <span class="tags">Tag 4</span>, <span class="tags">Tag 5</span>
        
        <p>Summary summary summary summary summary you get the idea right?<br /></p>
        
        <p>Part <b>#</b> of <span class="graylinks">Series Title</span><br /></p>
        
        <p class="stats">Language:&ensp;X&emsp;Words:&ensp;#&emsp;Chapters:&ensp;#&emsp;Comments:&ensp;<span class="graylinks">#</span>&emsp;Kudos:&ensp;<span class="graylinks">#</span>&emsp;Hits:&ensp;#</p>
    </div>

    <div class="fic fadeout">
        <p class="fic-ratings fadeout"><img src="https://i.imgur.com/F1pm79Q.png"></p>
        <p class="fichead"><span class="redlinks">Title</span> by <span class="redlinks">Author123</span><br />
        <span class="tags">Fandom - Creator</span></p>
        
        <p class="date">Dy Mth Year</p>
        
        <p><b><span class="tags">Archive Warnings</span></b>, <span class="rtag">Character A & Character B</span>, <span class="rtag">Character C/Character D</span>, <span class="tags">Tag 1</span>, <span class="tags">Tag 2</span>, <span class="tags">Tag 3</span>, <span class="tags">Tag 4</span>, <span class="tags">Tag 5</span>
        
        <p>Summary summary summary summary summary you get the idea right?<br /></p>
        
        <p>Part <b>#</b> of <span class="graylinks">Series Title</span><br /></p>
        
        <p class="stats">Language:&ensp;X&emsp;Words:&ensp;#&emsp;Chapters:&ensp;#&emsp;Comments:&ensp;<span class="graylinks">#</span>&emsp;Kudos:&ensp;<span class="graylinks">#</span>&emsp;Hits:&ensp;#</p>
    </div>

    <br />
</div>

<br /><br />

<div class="new-tw new-twBody">
    <div class="new-twUser"><!---
    ---><img class="new-twAvatar" src="IMAGE URL" width="60px"><!---
    ---><span>polls<span class="new-twVerified">✔</span><br/><!---
    ---><span class="new-twHandle">@polls</span></span></div>
    <div class="new-twText">What is the best kind of pie?</div>
    <div class="new-twPoll new-twWin p52"><span class="new-twBold">52%</span>Apple</div>
    <div class="new-twPoll new-twOpt p14"><span class="new-twBold">14.2%</span>Banana Cream</div>
    <div class="new-twPoll new-twOpt p9"><span class="new-twBold">9.4%</span>Meat</div>
    <div class="new-twPoll new-twOpt p24"><span class="new-twBold">24.4%</span>Pumpkin</div>
    <div class="new-twStats"><!---
    --->5484 votes • Final results<br/><!---
    --->❤ 65<span class="new-twTime"> 7:14 PM • Aug 15, 2018</span></div>
    <div class="new-twComments ">20 people are talking about this</div>
    </div>
    
    

