<link rel="stylesheet" href="../CSS/ao3.css">
<link rel="stylesheet" href="../CSS/twitter_new.css">
<link rel="stylesheet" href="../CSS/groupchat.css">

<!-- the cure to your venom -- hundredyarddash-->
<div class="phone-view">
    <p class="header-browser"></p>
    <p class="header-address-bar">https://archiveofourown.org/works/cure-to-your-venom-234u98</p>
    <div class="header-white">
        <p><img alt="Archive of Our Own" class="logo" src="https://archiveofourown.org/images/ao3_logos/logo_42.png"> </img> </p>
        <p class="logo-text">Archive of Our Own <sup class="logo-text-sup">beta</sup> </p>
    </div>
    <p class="login-info">Log In</p>

    <p class="header-red-tabs"> Fandoms &nbsp Browse &nbsp Search &nbsp About &nbsp &nbsp
        <span class="search-bar"></span></p>

    <p class="fic-buttons">
        <span class="button">Entire Work</span>   <span class="button">Next Chapter →</span> 
        <span class="button">Chapter Index ↓</span>  <span class="button">Comments</span> 
        <span class="button">Share</span> <span class="button">Download ↓</span> 
    </p>

    <div class="fic fic-shadow">
        <p class="collapse">Ratings:</span><br/>
        <p class="tag-list"><span class="tags">Teen And Up Audiences</span></p>
        
        <p class="collapse"><b><span class="tags">Archive Warnings</span></b>: </p>
        <p class="tag-list"><b><span class="tags">Graphic Depictions of Violence</span></b></p>

        <p class="collapse">Category:</span><br/>
        <p class="tag-list"><span class="tags">Multi</span></p>
        
        <p class="collapse">Fandom:</span><br/>
        <p class="tag-list"><span class="tags">Danny Phantom - RPF</span></p>

        <p class="collapse">Relationships:</span><br/>
        <p class="tag-list"><span class="tags">Danny Phantom/Male Y/N</span></p>
        
        <p class="collapse">Characters:</span><br/>
        <p class="tag-list"><span class="tags">Danny Phantom</span>, <span class="tags">Male Y/N</span>, <span class="tags">Amity Park residents</span></p>
        
        <p class="collapse">Additional Tags:</p>
        <p class="tag-list"><span class="tags">its not gay if hes dead</span>, <span class="tags">Reader self-insert</span>, 
            <span class="tags">ghost hunger</span>, <span class="tags">Venom AU</span>, <span class="tags">Slowburn</span>, 
            <span class="tags">hiding an eldritch abomination in your apartment</span>,
            <span class="tags">who eventually inhabits your body</span>, 
            <span class="tags">i mean where else does phantom hide in the day</span>, <span class="tags">eventual ship</span>
        </p>
        
        <p class="collapse">Language:</p>
        <p class="tag-list">English</p>
        
        <p class="collapse">Stats:</p>
        <p class="stats collapse">&nbsp Published:&ensp;2020-08-20;&ensp;Updated:&ensp;2021-01-05;&ensp;Words:&ensp;8,321&emsp;Chapters:&ensp;3/?&emsp;Comments:&ensp;<span class="graylinks">42</span>&emsp;Kudos:&ensp;<span class="graylinks">33</span>&emsp;Bookmarks:&ensp;<span class="graylinks">23</span>&emsp;Hits:&ensp;679</p>
    </div>

    <div class="fic-content">
        <div class="fic-details">
            <p class="fic-title">the cure to your venom</p>
            <p class="fic-author">hundredyarddash</p>

            <p>Summary:</p> <hr class="underline"/>
            <p class="fic-summary-content">
                Phantom is hungry, and you decide to feed him human food instead of human flesh, or ectoplasm, or whatever it is ghosts eat. 
                He's co-possessing your body after all, so he has to eat what you eat.
            </p><br />
            <hr class="underline" />
            <p class="fic-chapter-center"><span class="fic-chapter">Chapter 1:</span></p>
        </div>

        <br />
        <div class="fic-words fadeout">
            <p>"What would you like to order?" The barista asks you. Normally, you'd prefer a coffee, but Phantom was a little too hyper today.</p> 
            
            <p><em>The souls of the innocent!</em> Phantom roars inside you. Luckily, only you can hear him.</p> 
            <p>"A bagel," you answer out loud.</p>
            <p><em>What?!</em></p>
            <p>"2 bagels, actually."</p>
            <p><em>No!!!</em></p>
            <p>Your cohabitation arrangement of the same body started when you discovered the ghost boy on the verge of dissolving, 
                in a hidden alleyway. He only needed to stay "for a few days" until he recovered his strength - by siphoning yours - 
                but for some reason, he hasn't left yet.</p>
        </div>
    </div>
</div>
<br />

<!-- keep your enemies closer - qolf-->
<div class="phone-view">
    <p class="header-browser"></p>
    <p class="header-address-bar">https://archiveofourown.org/works/keep-your-enemies-closer-09387602</p>
    <div class="header-white">
        <p><img alt="Archive of Our Own" class="logo" src="https://archiveofourown.org/images/ao3_logos/logo_42.png"> </img> </p>
        <p class="logo-text">Archive of Our Own <sup class="logo-text-sup">beta</sup> </p>
    </div>
    <p class="login-info">Log In</p>

    <p class="header-red-tabs"> Fandoms &nbsp Browse &nbsp Search &nbsp About &nbsp &nbsp
        <span class="search-bar"></span></p>

    <p class="fic-buttons">
        <span class="button">Entire Work</span>   <span class="button">Next Chapter →</span> 
        <span class="button">Chapter Index ↓</span>   <span class="button">Comments</span> 
        <span class="button">Share</span>  <span class="button">Download ↓</span> 
    </p>

    <div class="fic fic-shadow">
        <p class="collapse">Ratings:</p>
        <p class="tag-list"><span class="tags">Teen And Up Audiences</span></p>
        
        <p class="collapse"><b><span class="tags">Archive Warnings</span></b>: </p>
        <p><b><span class="tags">Graphic Depictions of Violence</span></b></p>

        <p class="collapse">Category:</p>
        <p class="tag-list"><span class="tags">M/F</span></p>
        
        <p class="collapse">Fandom:</p>
        <p class="tag-list"><span class="tags">Danny Phantom - RPF</span></p>
        
        <p class="collapse">Relationships:</p>
        <p class="tag-list"><span class="tags">Danny Phantom/Red Huntress</span></p>
        
        <p class="collapse">Characters:</p>
        <p class="tag-list"><span class="tags">Danny Phantom</span>, <span class="tags">Red Huntress</span>, <span class="tags">Ghost OC</span></p>
        
        <p class="collapse">Additional Tags:</p>
        <p class="tag-list"><span class="tags">Enemies to Lovers</span>, <span class="tags">Slowburn</span>, <span class="tags">Romance</span>, 
            <span class="tags">reluctant teamup</span>, <span class="tags">saving amity park together</span>, 
            <span class="tags">witty banter</span>, <span class="tags">puns</span>
        </p>
        
        <p class="collapse">Language:</p>
        <p class="tag-list">English</p>
        
        <p class="collapse">Stats:</p>
        <p class="stats collapse">&nbsp Published:&ensp;2019-06-13;&ensp;Updated:&ensp;2021-02-05;&ensp;Words:&ensp;112021&emsp;Chapters:&ensp;17/17&emsp;Comments:&ensp;<span class="graylinks">1009</span>&emsp;Kudos:&ensp;<span class="graylinks">4342</span>&emsp;Bookmarks:&ensp;<span class="graylinks">1209</span>&emsp;Hits:&ensp;69420</p>
    </div>

    <div class="fic-content">
        <div class="fic-details">
            <p class="fic-title">keep your enemies closer</p>
            <p class="fic-author">dp_mavrel_49</p>

            <p>Summary:</p> <hr class="underline"/>
            <p class="fic-summary-content">
                A powerful ghost requires the red huntress and phantom to team up - and neither can handle the tension
            </p>
            <p>Notes:</p> <hr class="underline"/>
            <p class="fic-summary-content">
                first time writing for this fandom!
            </p> 
            <p class="fic-inpso">(See the end of the work for <a href="">other works inspired by this one.</a>)</p> 
            <hr class="underline" />
            <p class="fic-chapter-center"><span class="fic-chapter">Chapter 1:</span></p>
        </div>

        <br />
        <div class="fic-words fadeout">
            <p>The Huntress hated teaming up, but she knew she had no choice.</p> 
            
            <p>"Red's a good color on you, but let's keep the blood inside, yeah?" Phantom had asked. 
                His irritating smirk did not help. </p>

            <p>As if all the times they fought against each other could be swept under the rug 
                Her body was littered with scars thanks to him. And he had the audacity to change his form to make his chest look bigger and his arms look buffer. 
                Was it some scare tactic?
            </p>
            <p> But he thought she was strong enough and worth teaming up with, so she would take advantage of that.</p>
            <p> She should let the two ghosts weaken each other and then finish them both off. Yeah.</p>
        </div>
    </div>
</div>
<br />

<!-- unlike father unlike son  - Bibb_leo_phil-->
<div class="phone-view">
    <p class="header-browser"></p>
    <p class="header-address-bar">https://archiveofourown.org/works/unlike-father-unlike-son-38769372</p>
    <div class="header-white">
        <p><img alt="Archive of Our Own" class="logo" src="https://archiveofourown.org/images/ao3_logos/logo_42.png"> </img> </p>
        <p class="logo-text">Archive of Our Own <sup class="logo-text-sup">beta</sup> </p>
    </div>
    <p class="login-info">Log In</p>

    <p class="header-red-tabs"> Fandoms &nbsp Browse &nbsp Search &nbsp About &nbsp &nbsp
        <span class="search-bar"></span></p>

    <p class="fic-buttons">
        <span class="button">Entire Work</span>   <span class="button">Next Chapter →</span> 
        <span class="button">Chapter Index ↓</span>  <span class="button">Comments</span> 
        <span class="button">Share</span>  <span class="button">Download ↓</span> 
    </p>

    <div class="fic fic-shadow">
        <p class="collapse">Ratings:</p>
        <p class="tag-list"><span class="tags">Teen And Up Audiences</span></p>
        
        <p class="collapse"><b><span class="tags">Archive Warnings</span></b>:</p>
        <p class="tag-list"><b><span class="tags">No Archive Warnings Apply</span></b> </p>

        <p class="collapse">Fandom:</p>
        <p class="tag-list"><span class="tags">Danny Phantom - RPF</span></p>
        
        <p class="collapse">Relationships:</p>
        <p class="tag-list"><span class="tags">Danny Phantom & Vlad Plasmius | The Wisconsin Ghost</span></p>
        
        <p class="collapse">Characters:</p>
        <p class="tag-list"><span class="tags">Danny Phantom</span>, <span class="tags">Vlad Plasmius | The Wisconsin Ghost</span>, 
            <span class="tags">Ghost OCs</span></p>
        
        <p class="collapse">Additional Tags:</p>
        <p class="tag-list"><span class="tags">vampires</span>, <span class="tags">Prince Phantom</span>, 
            <span class="tags">phantom is plasmius's son</span>, <span class="tags">running away from the crown</span>, 
            <span class="tags">teenage rebellion</span>, <span class="tags">family dynamics</span>,
        </p>
        
        <p class="collapse">Language:</p>
        <p class="tag-list">English</p>
        
        <p class="collapse">Stats:</p>
        <p class="stats collapse">&nbsp Published:&ensp;2020-04-13;&ensp;Updated:&ensp;2020-08-25;&ensp;Words:&ensp;10021&emsp;Chapters:&ensp;10/14&emsp;Comments:&ensp;<span class="graylinks">709</span>&emsp;Kudos:&ensp;<span class="graylinks">2142</span>&emsp;Bookmarks:&ensp;<span class="graylinks">909</span>&emsp;Hits:&ensp;9429</p>
    </div>

    <div class="fic-content">
        <div class="fic-details">
            <p class="fic-title">unlike father unlike son</p>
            <p class="fic-author">Bibb_leo_phil</p>

            <p>Summary:</p> <hr class="underline"/>
            <p class="fic-summary-content">
                A falling out between Danny Phantom and his father, Vlad Plasmius, 
                leads to the Ghost Prince running away from the crown and claiming Amity Park as his new lair.
            </p><br />
            <hr class="underline" />
            <p class="fic-chapter-center"><span class="fic-chapter">Chapter 1:</span></p>
        </div>

        <br />
        <div class="fic-words fadeout">
            <p>Unlike his father, Prince Phantom had no interest in being a ruler. He wanted to live among the people. 
                Apparently, associating with commoners was beneath him, as a ghost and as a vampire - but his fangs had yet to appear, and even as a ghost, 
                Prince Phantom was the most eccentric heir the family had ever seen.</p>
            <p>"Please come home, son!" King Plasmius had begged.</p>
            <p>"No! Ever since Mom died -"</p>
            <p>"We're ghosts."</p>
            <p>"Ever since Mom <em>ascended</em> you've been different!"</p>
            <p>Phantom had to find a town Plasmius had never been to, and erect a lair. 
                By establishing a new kingdom, he could live by his own rules, instead of his father's archaic ones.</p>
        </div>
    </div>
</div>
<br />

<!-- king of the (under)world - seven-seas -->
<div class="phone-view">
    <p class="header-browser"></p>
    <p class="header-address-bar">https://archiveofourown.org/works/king-of-the-under-world-9382765</p>
    <div class="header-white">
        <p><img alt="Archive of Our Own" class="logo" src="https://archiveofourown.org/images/ao3_logos/logo_42.png"> </img> </p>
        <p class="logo-text">Archive of Our Own <sup class="logo-text-sup">beta</sup> </p>
    </div>
    <p class="login-info">Log In</p>

    <p class="header-red-tabs"> Fandoms &nbsp Browse &nbsp Search &nbsp About &nbsp &nbsp
        <span class="search-bar"></span></p>

    <p class="fic-buttons">
        <span class="button">Entire Work</span>   <span class="button">Next Chapter →</span> 
        <span class="button">Chapter Index ↓</span>  <span class="button">Comments</span> 
        <span class="button">Share</span>  <span class="button">Download ↓</span> 
    </p>

    <div class="fic fic-shadow">
        <p class="collapse">Ratings:</p>
        <p class="tag-list"><span class="tags">Teen And Up Audiences</span></p>
        
        <p class="collapse"><b><span class="tags">Archive Warnings</span></b>:
        <p class="tag-list"><b><span class="tags">Graphic Depictions of Violence</span></b></p>

        <p class="collapse">Fandom:</p>
        <p class="tag-list"><span class="tags">Danny Phantom - RPF</span></p>
        
        <p class="collapse">Characters:</p>
        <p class="tag-list"><span class="tags">Danny Phantom</span>, <span class="tags">Vlad Plasmius | The Wisconsin Ghost</span>, 
            <span class="tags">Red Huntress</span>, <span class="tags">Ghost OCs</span>, <span class="tags">Amity Park Residents</span></p>
        
        <p class="collapse">Additional Tags:</p>
        <p class="tag-list"><span class="tags">Ghost King Danny Phantom</span>, <span class="tags">Evil Danny Phantom</span>, 
            <span class="tags">Dead Dove Do Not Eat</span>, <span class="tags">Adult Danny Phantom</span>, 
            <span class="tags">conversations about death</span>, <span class="tags">greek mythology</span>, <span class="tags">dystopian</span>, 
            <span class="tags">check each ch for TWs</span>, <span class="tags">future fic</span>, <span class="tags">speculative fiction</span>
        </p>
        
        <p class="collapse">Language:</p>
        <p class="tag-list">English</p>
        
        <p class="collapse">Stats:</p>
        <p class="stats collapse">&nbsp Published:&ensp;2020-06-05;&ensp;Updated:&ensp;2020-12-25;&ensp;Words:&ensp;29021&emsp;Chapters:&ensp;13/?&emsp;Comments:&ensp;<span class="graylinks">841</span>&emsp;Kudos:&ensp;<span class="graylinks">3045</span>&emsp;Bookmarks:&ensp;<span class="graylinks">801</span>&emsp;Hits:&ensp;31429</p>
    </div>

    <div class="fic-content">
        <div class="fic-details">
            <p class="fic-title">king of the (under)world</p>
            <p class="fic-author">seven-seas</p>

            <p>Summary:</p> <hr class="underline"/>
            <p class="fic-summary-content">
                With Amity Park securely under his rule, Danny Phantom aims to take over the world. As the King of all ghosts, 
                he commands his subjects to do his bidding - and create new subjects for him. 
                The Red Huntress is the world's only hope against total subjugation.
            </p>
            
            <br />
            
            <p>Notes:</p> <hr class="underline"/>
            <p class="fic-summary-content">
                royalty au my beloved
            </p> <br />
            <hr class="underline" /> 
            <p class="fic-chapter-center"><span class="fic-chapter">Chapter 1:</span></p>
        </div>

        <br />
        <div class="fic-words fadeout">
            <p>Fresh food was hard to come by in Amity Park - ghost guards patrolled the streets and guarded grocery stores.</p>
            <p>The shield around town, erected by the government, 
                prevented the ghosts from escaping, but also left the humans trapped inside to fend for themselves.</p>
            <p>Nobody knew who The Red Huntress was, exactly - some guessed she was a government agent or spy from outside the barrier - 
                but she always came to the human hideouts with smuggled food and water. 
                It was thanks to her that the human resistance inside the barrier still survived. 
                No doubt, King Phantom would try to turn her into a ghost to recruit her for his army, but she would never.</p>
        </div>
    </div>
</div>
<br />

<!-- lab rat inspection  - TeaRexx-->
<div class="phone-view">
    <p class="header-browser"></p>
    <p class="header-address-bar">https://archiveofourown.org/works/lab-rat-inspection-98765</p>
    <div class="header-white">
        <p><img alt="Archive of Our Own" class="logo" src="https://archiveofourown.org/images/ao3_logos/logo_42.png"> </img> </p>
        <p class="logo-text">Archive of Our Own <sup class="logo-text-sup">beta</sup> </p>
    </div>
    <p class="login-info">Log In</p>

    <p class="header-red-tabs"> Fandoms &nbsp Browse &nbsp Search &nbsp About &nbsp &nbsp
        <span class="search-bar"></span></p>

    <p class="fic-buttons">
         <span class="button">Comments</span> 
        <span class="button">Share</span>   <span class="button">Download ↓</span>  
    </p>

    <div class="fic fic-shadow">
        <p class="collapse">Ratings:</p>
        <p class="tag-list"><span class="tags">Mature</span></p>
        
        <p class="collapse"><b><span class="tags">Archive Warnings</span></b>: </p>
        <p class="tag-list"><b><span class="tags">Graphic Depictions of Violence</span></b></p>

        <p class="collapse">Fandom:</p>
        <p class="tag-list"><span class="tags">Danny Phantom - RPF</span></p>
      
        <p class="collapse">Characters:</p>
        <p class="tag-list"><span class="tags">Danny Phantom</span>, <span class="tags">Guys in White Agent (OC)</span></p>
        
        <p class="collapse">Additional Tags:</p>
        <p class="tag-list"> <span class="tags">Dissection</span>, <span class="tags">Speculative Biology</span>,
            <span class="tags">Artistic License - Biology</span>, <span class="tags">Gore</span>, <span class="tags">Oneshot</span>, 
            <span class="tags">Body Horror</span>, <span class="tags">Dead Dove Do Not Eat</span>,
            <span class="tags">Blood</span>, <span class="tags">Vomitting</span>, 
            <span class="tags">Government Entity with questionable ethics</span>
        </p>
        
        <p class="collapse">Language:</p>
        <p class="tag-list">English</p>
        
        <p class="collapse">Stats:</p>
        <p class="stats collapse">&nbsp Published:&ensp;2020-09-01;&ensp;Updated:&ensp;2020-09-01;&ensp;Words:&ensp;7251&emsp;Chapters:&ensp;1/1&emsp;Comments:&ensp;<span class="graylinks">91</span>&emsp;Kudos:&ensp;<span class="graylinks">145</span>&emsp;Bookmarks:&ensp;<span class="graylinks">51</span>&emsp;Hits:&ensp;3221</p>
    </div>

    <div class="fic-content">
        <div class="fic-details">
            <p class="fic-title">lab rat inspection</p>
            <p class="fic-author">TeaRexx</p>

            <p>Summary:</p> <hr class="underline"/>
            <p class="fic-summary-content">
                The government agents Guys in White finally succeeded in catching Danny Phantom. 
                They need to know what the ghost boy is made of, and decide to look inside.
            </p>
            
            <br />
            
            <p>Notes:</p> <hr class="underline"/>
            <p class="fic-summary-content">
                PLEASE mind the tags for trigger warnings. 
            </p> <br />
            <hr class="underline" /> <br />
        </div>

        <br />
        <div class="fic-words fadeout">
            <p>"Cracking open a cold one with the boys, are ya?" The ghost boy said as the agent held the knife against his flesh. The ghost's arms and legs were restrained, so he couldn't try anything sneaky.</p>
            <p>"Too bad we can't anesthetize you," the agent responded. "At least then you'd be quiet. But anesthesia isn't used for dissection. It's only used for human patients. 
                Which, I should remind you, is something you aren't"</p>
            <p>The agent decided he'd wasted enough time, and plunged the scalpel into the ghost's body. 
                He tuned out all noises that the ghost boy made as he moved the knife into a Y shape across the chest.</p>
        </div>
    </div>
</div>
<br />

<!-- The Phantom Menace  -> the wes loop-->
<div class="phone-view">
    <p class="header-browser"></p>
    <p class="header-address-bar">https://archiveofourown.org/works/the-phantom-menace-53647</p>
    <div class="header-white">
        <p><img alt="Archive of Our Own" class="logo" src="https://archiveofourown.org/images/ao3_logos/logo_42.png"> </img> </p>
        <p class="logo-text">Archive of Our Own <sup class="logo-text-sup">beta</sup> </p>
    </div>
    <p class="login-info">Hi, TheWesLoop! &nbsp; Post &nbsp; Log Out</p>

    <p class="header-red-tabs"> Fandoms &nbsp Browse &nbsp Search &nbsp About &nbsp &nbsp
        <span class="search-bar"></span></p>

    <p class="fic-buttons">
        <span class="button">Add Chapter</span>   <span class="button">Edit</span>  <span class="button">Edit Tags</span> 
        <span class="button">Bookmark</span>   <span class="button">Comments</span> 
        <span class="button">Share</span> <span class="button">Subscribe</span>   <span class="button">Download ↓</span>  
    </p>

    <div class="fic fic-shadow">
        <p class="collapse">Ratings:</P>
        <p class="tag-list"><span class="tags">General</span></p>
        
        <p class="collapse"><b><span class="tags">Archive Warnings</span></b>:</p>
        <p class="tag-list"><b><span class="tags">No Archive Warnings Apply</span></b></p>

        <p class="collapse">Fandom:</p>
        <p class="tag-list"><span class="tags">Danny Phantom - RPF</span></p>
      
        <p class="collapse">Characters:</p>
        <p class="tag-list"><span class="tags">Danny Phantom</span></p>
        
        <p class="collapse">Additional Tags:</p>
        <p class="tag-list"><span class="tags">Dissection</span>, <span class="tags">Speculative Biology</span>,
            <span class="tags">Gore</span>, <span class="tags">Non Fiction</span>, 
            <span class="tags">Body Horror</span>
        </p>
        
        <p class="collapse">Language:</p>
        <p class="tag-list">English</p>
        
        <p class="collapse">Stats:</p>
        <p class="stats collapse">&nbsp Published:&ensp;2021-03-27;&ensp;Updated:&ensp;2021-03-27;&ensp;Words:&ensp;5053&emsp;Chapters:&ensp;1/1&emsp;Comments:&ensp;<span class="graylinks">0</span>&emsp;Kudos:&ensp;<span class="graylinks">1</span>&emsp;Bookmarks:&ensp;<span class="graylinks">0</span>&emsp;Hits:&ensp;10</p>
    </div>

    <div class="fic-content">
        <div class="fic-details">
            <p class="fic-title">The Phantom Menace</p>
            <p class="fic-author">TheWesLoop</p>

            <p>Summary:</p> <hr class="underline"/> 
            <p class="fic-summary-content">
                Phantom is more than meets the eye. Idea dump of Phantom's true agenda.
            </p>
            
            <br />
            <hr class="underline"/> 
            <p class="fic-buttons">
                <span class="button edit-ch">Edit Chapter</span> 
            </p> 
        </div>
        <div class="fic-words fadeout">
            <p>Phantom is so obviously masquerading as a student at Casper High. It's unfortunate that he doesn't appear at the mall as often, his wardrobe clearly needs an upgrade. 
                He has been seen around the nasty burger though, which is another popular hangout for Casper High students. He most likely overshadows a student to hide when ghosts are absent, 
                without the student even realizing that they're being overshadowed! </p>
        </div>
    </div>
</div>
<br />