<p>a single message</p>

<p> </p>


<p>&lt;div class="amongus-chatbox"&gt;</p></div>
  <div>

<p>    &lt;div class="amongus-msg"&gt;</p></div>
  <div>

<p>        &lt;p&gt;&lt;img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /&gt;&lt;/p&gt;</p></div>
  <div>

<p>        &lt;p class="amongus-content"&gt;    </p></div>
  <div>

<p>            &lt;span class="amongus-name"&gt;Player&lt;/span&gt; &lt;br&gt;</p></div>
  <div>

<p>            &lt;span class="amongus-text"&gt;start&lt;/span&gt;</p></div>
  <div>

<p>        &lt;/p&gt;</p></div>
  <div>

<p>    &lt;/div&gt;</p></div>
  <div>

<p>&lt;/div&gt;</p></div>
</div><div class="amongus-chatbox">

<div class="amongus-msg">

<p>
      <img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" />
    </p>

<p class="amongus-content">
      <span class="amongus-name">Player</span><br />
<span class="amongus-text">start</span>
    </p></div>
</div>

<p>of course, you can add multiple messages within the "amongus-chatbox" div, like</p>

<p> </p>

<p> </p>

<p> </p>


<p>&lt;div class="amongus-chatbox"&gt;</p></div>
  <div>

<p>    &lt;div class="amongus-msg"&gt;</p></div>
  <div>

<p>        &lt;p&gt;</p></div>
  <div>

<p>            &lt;img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /&gt;</p></div>
  <div>

<p>       &lt;/p&gt;</p></div>
  <div>

<p>        &lt;p class="amongus-content"&gt;    </p></div>
  <div>

<p>            &lt;span class="amongus-name"&gt;Player&lt;/span&gt; &lt;br&gt;</p></div>
  <div>

<p>            &lt;span class="amongus-text"&gt;start&lt;/span&gt;</p></div>
  <div>

<p>        &lt;/p&gt;</p></div>
  <div>

<p>    &lt;/div&gt;</p></div><br />
<div>

<p>  &lt;div class="amongus-msg"&gt;</p></div>
  <div>

<p>        &lt;p&gt;</p></div>
  <div>

<p>            &lt;img class="amongus-avi" src="https://i.imgur.com/0NrPRyo.png" /&gt;</p></div>
  <div>

<p>       &lt;/p&gt;</p></div>
  <div>

<p>        &lt;p class="amongus-content"&gt;    </p></div>
  <div>

<p>            &lt;span class="amongus-name"&gt;DontKillMe&lt;/span&gt; &lt;br&gt;</p></div>
  <div>

<p>            &lt;span class="amongus-text"&gt;start&lt;/span&gt;</p></div>
  <div>

<p>        &lt;/p&gt;</p></div>
  <div>

<p>    &lt;/div&gt;</p></div><br />
<div>

<p>    &lt;div class="amongus-msg"&gt;</p></div>
  <div>

<p>        &lt;p&gt;</p></div>
  <div>

<p>             &lt;img class="amongus-avi" src="https://i.imgur.com/sm4Id90.png" /&gt;</p></div>
  <div>

<p>        &lt;/p&gt;</p></div>
  <div>

<p>        &lt;p class="amongus-content"&gt;    </p></div>
  <div>

<p>            &lt;span class="amongus-name"&gt;Imposter&lt;/span&gt; &lt;br&gt;</p></div>
  <div>

<p>            &lt;span class="amongus-text"&gt;start&lt;/span&gt;</p></div>
  <div>

<p>        &lt;/p&gt;</p></div>
  <div>

<p>    &lt;/div&gt;</p></div>
  <div>

<p>&lt;/div&gt;</p></div>
</div>

<p> </p>

<p> </p>



<p></p><div class="amongus-chatbox">
<div class="amongus-msg">

<p>
      <img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" />
    </p>

<p class="amongus-content">
      <span class="amongus-name">Player</span><br />
<span class="amongus-text">start</span>
    </p></div>
  <div class="amongus-msg">

<p>
      <img class="amongus-avi" src="https://i.imgur.com/0NrPRyo.png" />
    </p>

<p class="amongus-content">
      <span class="amongus-name">DontKillMe</span><br />
<span class="amongus-text">start</span>
    </p></div>
  <div class="amongus-msg">

<p>
      <img class="amongus-avi" src="https://i.imgur.com/sm4Id90.png" />
    </p>

<p class="amongus-content">
      <span class="amongus-name">Imposter</span><br />
<span class="amongus-text">start</span>
    </p></div>
</div>

<p>each typed message is within an "amongus-msg" div, which is within an "amongus-chatbox" div What if a character is dead? Easy. add "amongus-dead" and an extra html img for the "x" icon (bolded below)</p>

<p> </p>

<p> </p>

<p> </p>



<p>&lt;div class="amongus-chatbox"&gt;</p></div>
  <div>

<p>&lt;div class="amongus-msg <strong>amongus-dead"</strong>&gt;</p></div>
  <div>

<p>    &lt;p&gt;</p></div>
  <div>

<p>        &lt;img class="amongus-avi" src="https://i.imgur.com/1FjNBrJ.png" /&gt;</p></div>
  <div>

<p>
      <strong>        &lt;img class="amongus-icon" src="https://i.imgur.com/2mKACTG.png" /&gt;</strong>
    </p></div>
  <div>

<p>    &lt;/p&gt;</p></div>
  <div>

<p>    &lt;p class="amongus-content"&gt;   </p></div>
  <div>

<p>        &lt;span class="amongus-name"&gt;NotImposter&lt;/span&gt; &lt;br&gt;</p></div>
  <div>

<p>        &lt;span class="amongus-text"&gt;someone come find my body&lt;/span&gt;</p></div>
  <div>

<p>    &lt;/p&gt;</p></div>
  <div>

<p>&lt;/div&gt;</p></div>
  <div>

<p>&lt;/div&gt;</p></div>
</div>

<p> </p>

<p> </p>


<p></p><div class="amongus-chatbox">

<div class="amongus-msg amongus-dead">

<p><img class="amongus-avi" src="https://i.imgur.com/1FjNBrJ.png" /> <img class="amongus-icon" src="https://i.imgur.com/2mKACTG.png" /></p>

<p class="amongus-content">
      <span class="amongus-name">NotImposter</span><br />
<span class="amongus-text">someone come find my body</span>
    </p></div>
</div>

<p>What about the viewpoint character? Like POV of the player character or something? The text and the icon align to the left instead of the right. all you have to do is add "amongus-player" next to "amongus-msg"</p>

<p> </p>

<p> </p>

<p> </p>


<p>&lt;div class="amongus-chatbox"&gt;</p></div>
  <div>

<p>&lt;div class="amongus-msg <strong>amongus-player</strong>"&gt;</p></div>
  <div>

<p>    &lt;p&gt;</p></div>
  <div>

<p>        &lt;img class="amongus-avi" src="https://i.imgur.com/sm4Id90.png"/&gt;</p></div>
  <div>

<p>    &lt;/p&gt;</p></div>
  <div>

<p>    &lt;p class="amongus-content"&gt;   </p></div>
  <div>

<p>        &lt;span class="amongus-name"&gt;Imposter&lt;/span&gt; &lt;br&gt;</p></div>
  <div>

<p>        &lt;span class="amongus-text"&gt;I was in electrical doing my tasks &lt;/span&gt;</p></div>
  <div>

<p>    &lt;/p&gt;</p></div>
  <div>

<p>&lt;/div&gt;</p></div>
  <div>

<p>&lt;/div&gt;</p></div>
</div><div class="amongus-chatbox">

<div class="amongus-msg amongus-player">

<p>
      <img class="amongus-avi" src="https://i.imgur.com/sm4Id90.png" />
    </p>

<p class="amongus-content">
      <span class="amongus-name">Imposter</span><br />
<span class="amongus-text">I was in electrical doing my tasks </span>
    </p></div>
</div>

<p>But what if they ARE the imposter?</p>

<p> </p>

<p> </p>

<p> </p>

<p>&lt;div class="amongus-chatbox"&gt;</p></div><br />
<div>

<p>&lt;div class="amongus-msg <strong>amongus-player</strong>"&gt;</p></div>
  <div>

<p>    &lt;p&gt;</p></div>
  <div>

<p>        &lt;img class="amongus-avi" src="https://i.imgur.com/sm4Id90.png"/&gt;</p></div>
  <div>

<p>    &lt;/p&gt;</p></div>
  <div>

<p>    &lt;p class="amongus-content"&gt;   </p></div>
  <div>

<p>        &lt;span class="amongus-name <strong>amongus-imposter</strong>"&gt;Imposter&lt;/span&gt; &lt;br&gt;</p></div>
  <div>

<p>        &lt;span class="amongus-text"&gt;I was in electrical doing my tasks &lt;/span&gt;</p></div>
  <div>

<p>    &lt;/p&gt;</p></div>
  <div>

<p>&lt;/div&gt;</p></div><br />
<div>

<p>&lt;div class="amongus-msg"&gt;</p></div>
  <div>

<p>    &lt;p&gt;</p></div>
  <div>

<p>        &lt;img class="amongus-avi" src="https://i.imgur.com/oRxZJeO.png"/&gt;</p></div>
  <div>

<p>    &lt;/p&gt;</p></div>
  <div>

<p>    &lt;p class="amongus-content"&gt;   </p></div>
  <div>

<p>        &lt;span class="amongus-name <strong>amongus-imposter</strong>"&gt;Butterfly&lt;/span&gt; &lt;br&gt;</p></div>
  <div>

<p>        &lt;span class="amongus-text"&gt;I was w red, can confirm theyr ok &lt;/span&gt;</p></div>
  <div>

<p>    &lt;/p&gt;</p></div>
  <div>

<p>&lt;/div&gt;</p></div><br />
<div>

<p>&lt;/div&gt;</p></div>
</div><div class="amongus-chatbox">

<div class="amongus-msg amongus-player">

<p>
      <img class="amongus-avi" src="https://i.imgur.com/sm4Id90.png" />
    </p>

<p class="amongus-content">
      <span class="amongus-name amongus-imposter">Imposter</span><br />
<span class="amongus-text">I was in electrical doing my tasks </span>
    </p></div>
  <div class="amongus-msg">

<p>
      <img class="amongus-avi" src="https://i.imgur.com/oRxZJeO.png" />
    </p>

<p class="amongus-content">
      <span class="amongus-name amongus-imposter">Butterfly</span><br />
<span class="amongus-text">I was w red, can confirm theyr ok </span>
    </p></div>
</div>

<p>Note that the imposter doesn't HAVE to have the "amongus-player" class. You can combine them if you want, or not. you can also combine amongus-player with amongus-dead</p>

<p> </p>

<p> </p>

<p> </p>



<p>&lt;div class="amongus-chatbox"&gt;</p></div>
  <div>

<p>    &lt;div class="amongus-msg <strong>amongus-player amongus-dead</strong>"&gt;</p></div>
  <div>

<p>        &lt;p&gt;</p></div>
  <div>

<p>            &lt;img class="amongus-avi" src="https://i.imgur.com/1FjNBrJ.png" /&gt;</p></div>
  <div>

<p>
      <strong>           &lt;img class="amongus-icon" src="https://i.imgur.com/2mKACTG.png" /&gt;</strong>
    </p>

<p> </p>

<p> </p>

<p></p><div>

<p>        &lt;/p&gt;</p></div>
    <div>

<p>        &lt;p class="amongus-content"&gt;   </p></div>
    <div>

<p>            &lt;span class="amongus-name"&gt;NotImposter&lt;/span&gt; &lt;br&gt;</p></div>
    <div>

<p>            &lt;span class="amongus-text"&gt;someone come find my body&lt;/span&gt;</p></div>
    <div>

<p>        &lt;/p&gt;</p></div>
    <div>

<p>    &lt;/div&gt;</p></div>
    <div>

<p>&lt;/div&gt;</p></div>
    <div>

<p> </p></div>
  </div>

<p> </p>

<p> </p>

<p> </p>

<p></p><div class="amongus-chatbox">

<div class="amongus-msg amongus-player amongus-dead">

<p><img class="amongus-avi" src="https://i.imgur.com/1FjNBrJ.png" /> <img class="amongus-icon" src="https://i.imgur.com/2mKACTG.png" /></p>

<p class="amongus-content">
        <span class="amongus-name">NotImposter</span><br />
<span class="amongus-text">someone come find my body</span>
      </p></div>
  </div>

<p>Okay, what about voting?</p>

<p> </p>

<p> </p>

<p> </p>

<p> </p>


<p>&lt;div class="amongus-chatbox"&gt;</p></div>
    <div>

<p>&lt;div class="amongus-msg amongus-vote"&gt;</p></div>
    <div>

<p>     &lt;p&gt;</p></div>
    <div>

<p>         &lt;img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /&gt;</p></div>
    <div>

<p>         &lt;img class="amongus-icon" src="https://i.imgur.com/prwqCtY.png" /&gt;</p></div>
    <div>

<p>     &lt;/p&gt;</p></div>
    <div>

<p>     &lt;p class="amongus-vote-msg"&gt;Player has voted. 7 remaining.&lt;/p&gt;</p></div>
    <div>

<p>&lt;/div&gt;</p></div>
    <div>

<p>&lt;/div&gt;</p></div>
    <div>

<p> </p></div>
  </div>
  <div class="amongus-chatbox">

<div class="amongus-msg amongus-vote">

<p><img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /> <img class="amongus-icon" src="https://i.imgur.com/prwqCtY.png" /></p>

<p class="amongus-vote-msg">Player has voted. 7 remaining.</p></div>
  </div>

<p>what if someone has sent a chat message after they've voted?</p>

<p> </p>

<p> </p>

<p> </p>


<p>&lt;div class="amongus-chatbox"&gt;</p></div>
    <div>

<p>    &lt;div class="amongus-msg"&gt;</p></div>
    <div>

<p>        &lt;p&gt;</p></div>
    <div>

<p>            &lt;img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /&gt;</p></div>
    <div>

<p>
        <strong>           &lt;img class="amongus-icon" src="https://i.imgur.com/prwqCtY.png" /&gt;</strong>
      </p></div>
    <div>

<p>       &lt;/p&gt;</p></div>
    <div>

<p>        &lt;p class="amongus-content"&gt;   </p></div>
    <div>

<p>            &lt;span class="amongus-name"&gt;Player&lt;/span&gt; &lt;br&gt;</p></div>
    <div>

<p>            &lt;span class="amongus-text"&gt;vote red. if not him then me&lt;/span&gt;</p></div>
    <div>

<p>        &lt;/p&gt;</p></div>
    <div>

<p>    &lt;/div&gt;</p></div>
    <div>

<p>&lt;/div&gt;</p></div>
  </div>
  <div>

<p> </p></div>
  <div class="amongus-chatbox">

<div class="amongus-msg">

<p><img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /> <img class="amongus-icon" src="https://i.imgur.com/prwqCtY.png" /></p>

<p class="amongus-content">
        <span class="amongus-name">Player</span><br />
<span class="amongus-text">vote red. if not him then me</span>
      </p></div>
  </div>

<p>if a POV character voted and then sent a message to the chat afterwards, it would look like</p>

<p> </p>

<p> </p>

<p> </p>

<p>&lt;div class="amongus-chatbox"&gt;</p></div>
    <div>

<p>    &lt;div class="amongus-msg <strong>amongus-player</strong>"&gt;</p></div>
    <div>

<p>        &lt;p&gt;</p></div>
    <div>

<p>            &lt;img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /&gt;</p></div>
    <div>

<p>
        <strong>           &lt;img class="amongus-icon" src="https://i.imgur.com/prwqCtY.png" /&gt;</strong>
      </p></div>
    <div>

<p>       &lt;/p&gt;</p></div>
    <div>

<p>        &lt;p class="amongus-content"&gt;   </p></div>
    <div>

<p>            &lt;span class="amongus-name"&gt;Player&lt;/span&gt; &lt;br&gt;</p></div>
    <div>

<p>            &lt;span class="amongus-text"&gt;vote red. if not him then me&lt;/span&gt;</p></div>
    <div>

<p>        &lt;/p&gt;</p></div>
    <div>

<p>    &lt;/div&gt;</p></div>
    <div>

<p>&lt;/div&gt;</p></div>
  </div>
  <div class="amongus-chatbox">

<div class="amongus-msg amongus-player">

<p><img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /> <img class="amongus-icon" src="https://i.imgur.com/prwqCtY.png" /></p>

<p class="amongus-content">
        <span class="amongus-name">Player</span><br />
<span class="amongus-text">vote red. if not him then me</span>
      </p></div>
  </div>

<p>what about room messages? you can display room codes</p>

<p> </p>

<p> </p>

<p> </p>


<p>&lt;div class="amongus-chatbox"&gt;</p></div>
    <div>

<p>    &lt;div class="amongus-room"&gt;Among Us The Skeld </p></div>
    <div>

<p>        &lt;br&gt; Public &lt;br&gt; Code: SPXJKL&lt;/div&gt; &lt;br&gt;</p></div>
    <div>

<p>&lt;/div&gt;</p></div>
    <div>

<p> </p></div>
  </div>
  <div class="amongus-chatbox">
<div class="amongus-room">

<p>Among Us The Skeld<br />
Public<br />
Code: SPXJKL</p></div>
  </div>

<p>imposter messages</p>

<p> </p>

<p> </p>

<p> </p>


<p>&lt;div class="amongus-chatbox"&gt;</p></div>
    <div>

<p>    &lt;div class="amongus-room"&gt;Shhhhh! &lt;br&gt; Imposters: Imposter, Butterfly &lt;/div&gt; &lt;br&gt;</p></div>
    <div>

<p>&lt;/div&gt;</p></div>
    <div>

<p> </p></div>
  </div>
  <div class="amongus-chatbox">

<div class="amongus-room">

<p>Shhhhh!<br />
Imposters: Imposter, Butterfly</p></div>
  </div>

<p>or voting results</p>

<p> </p>

<p> </p>

<p> </p>



<p>&lt;div class="amongus-chatbox"&gt;</p></div>
    <div>

<p>&lt;div class="amongus-room"&gt;Player was not an Imposter &lt;br&gt; 2 Imposters remain &lt;/div&gt; &lt;br&gt;</p></div>
    <div>

<p>&lt;/div&gt;</p></div>
    <div>

<p> </p></div>
  </div>
  <div class="amongus-chatbox">

<div class="amongus-room">

<p>Player was not an Imposter<br />
2 Imposters remain</p></div>
  </div>

<p> </p>

<p>Things that I didn't get around to implementing </p><ol>
<li>avatars with hats in the chat. </li>
<li>the tiny text input box with the chevron (right pointing arrow) at the end of the box, as a nice visual touch. </li>
<li>Make the css / html structure look nice if creators style is turned off / a fic using this skin is downloaded to read offline</li>
</ol>

<p> </p>

<p>Mind you, I made this skin in 24 hours. There will be parts that don't match the game's look and feel exactly and there will be parts that could have been added / done better. Maybe someone else can add the parts I missed and make this skin better?<br />
<br />
Known issues:</p><ul>
<li>text alignment can get weird if you have a large block of text with the "amongus-player" player class - got around this by breaking text into several msg blocks (or just not having the character speak in long text blocks lol)</li>
<li>certain text shadows / transformations are not working on ao3 :( </li>
<li>no flex box :,( - hence the weird transforms in the css </li>
</ul>

<p><br />
A quick list of resources: </p><ul>
<li>here's the imgur gallery that has all the colored avatars that ive been using throughout this tutorial: https://imgur.com/gallery/iWRQtBe</li>
<li>the dead "x" img: https://i.imgur.com/2mKACTG.png </li>
<li>and the "i voted" image: https://i.imgur.com/prwqCtY.png</li>
<li>Lastly, all the game assets https://www.reddit.com/r/AmongUs/comments/ivepl6/all_of_the_games_assets_for_use_in_your_memes_and/</li>
</ul>

<p><br />
<br />
</p>

<p>Combining all these together, and meme away.</p>

<p> </p>

<p> </p>


<p>&lt;div class="amongus-chatbox"&gt;</p></div><br />
<div>

<p>  &lt;div class="amongus-msg amongus-player amongus-dead"&gt;</p></div>
    <div>

<p>    &lt;p&gt;&lt;img class="amongus-avi" src="https://i.imgur.com/1FjNBrJ.png" /&gt; &lt;img class="amongus-icon" src="https://i.imgur.com/2mKACTG.png" /&gt;&lt;/p&gt;</p></div>
    <div>

<p>    </p></div>
    <div>

<p>    &lt;p class="amongus-content"&gt;</p></div>
    <div>

<p>      &lt;span class="amongus-name"&gt;NotImposter&lt;/span&gt;&lt;br /&gt;</p></div>
    <div>

<p>      &lt;span class="amongus-text"&gt;someone come find my body&lt;/span&gt;</p></div>
    <div>

<p>    &lt;/p&gt;</p></div>
    <div>

<p>  &lt;/div&gt;</p></div><br />
<div>

<p>  &lt;div class="amongus-msg amongus-dead"&gt;</p></div>
    <div>

<p>    &lt;p&gt;&lt;img class="amongus-avi" src="https://i.imgur.com/1FjNBrJ.png" /&gt; &lt;img class="amongus-icon" src="https://i.imgur.com/2mKACTG.png" /&gt;&lt;/p&gt;</p></div>
    <div>

<p>    </p></div>
    <div>

<p>    &lt;p class="amongus-content"&gt;</p></div>
    <div>

<p>      &lt;span class="amongus-name"&gt;NotImposter&lt;/span&gt;&lt;br /&gt;</p></div>
    <div>

<p>      &lt;span class="amongus-text"&gt;someone come find my body&lt;/span&gt;</p></div>
    <div>

<p>    &lt;/p&gt;</p></div>
    <div>

<p>  &lt;/div&gt;</p></div><br />
<div>

<p>  &lt;div class="amongus-msg amongus-player"&gt;</p></div>
    <div>

<p>  </p></div>
    <div>

<p>    &lt;p&gt;&lt;img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /&gt; &lt;img class="amongus-icon" src="https://i.imgur.com/prwqCtY.png" /&gt;&lt;/p&gt;</p></div>
    <div>

<p>    </p></div>
    <div>

<p>    &lt;p class="amongus-content"&gt;</p></div>
    <div>

<p>      &lt;span class="amongus-name"&gt;Player&lt;/span&gt;&lt;br /&gt;</p></div>
    <div>

<p>      &lt;span class="amongus-text"&gt;vote red. if not him then me&lt;/span&gt;</p></div>
    <div>

<p>    &lt;/p&gt;</p></div>
    <div>

<p>  &lt;/div&gt;</p></div><br />
<div>

<p>  &lt;div class="amongus-msg amongus-vote"&gt;</p></div>
    <div>

<p>    &lt;p&gt;&lt;img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /&gt; &lt;img class="amongus-icon" src="https://i.imgur.com/prwqCtY.png" /&gt;&lt;/p&gt;</p></div>
    <div>

<p>    &lt;p class="amongus-vote-msg"&gt;Player has voted. 7 remaining.&lt;/p&gt;</p></div>
    <div>

<p>  &lt;/div&gt;</p></div><br />
<div>

<p>  &lt;div class="amongus-msg amongus-player"&gt;</p></div>
    <div>

<p>    &lt;p&gt;</p></div>
    <div>

<p>      &lt;img class="amongus-avi" src="https://i.imgur.com/sm4Id90.png" /&gt;</p></div>
    <div>

<p>    &lt;/p&gt;</p></div>
    <div>

<p>    </p></div>
    <div>

<p>    &lt;p class="amongus-content"&gt;</p></div>
    <div>

<p>      &lt;span class="amongus-name amongus-imposter"&gt;Imposter&lt;/span&gt;&lt;br /&gt;</p></div>
    <div>

<p>      &lt;span class="amongus-text"&gt;I was in electrical doing my tasks &lt;/span&gt;</p></div>
    <div>

<p>    &lt;/p&gt;</p></div>
    <div>

<p>  &lt;/div&gt;</p></div><br />
<div>

<p>  &lt;div class="amongus-msg"&gt;</p></div>
    <div>

<p>    &lt;p&gt;</p></div>
    <div>

<p>      &lt;img class="amongus-avi" src="https://i.imgur.com/oRxZJeO.png" /&gt;</p></div>
    <div>

<p>    &lt;/p&gt;</p></div>
    <div>

<p>    </p></div>
    <div>

<p>    &lt;p class="amongus-content"&gt;</p></div>
    <div>

<p>      &lt;span class="amongus-name amongus-imposter"&gt;Butterfly&lt;/span&gt;&lt;br /&gt;</p></div>
    <div>

<p>      &lt;span class="amongus-text"&gt;I was w red, can confirm theyr ok &lt;/span&gt;</p></div>
    <div>

<p>    &lt;/p&gt;</p></div>
    <div>

<p>  &lt;/div&gt;</p></div><br />
<div>

<p>  &lt;div class="amongus-msg"&gt;</p></div>
    <div>

<p>    &lt;p&gt;&lt;img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /&gt; &lt;img class="amongus-icon" src="https://i.imgur.com/prwqCtY.png" /&gt;&lt;/p&gt;</p></div>
    <div>

<p>    </p></div>
    <div>

<p>    &lt;p class="amongus-content"&gt;</p></div>
    <div>

<p>      &lt;span class="amongus-name"&gt;Player&lt;/span&gt;&lt;br /&gt;</p></div>
    <div>

<p>      &lt;span class="amongus-text"&gt;vote red. if not him then me&lt;/span&gt;</p></div>
    <div>

<p>    &lt;/p&gt;</p></div>
    <div>

<p>  &lt;/div&gt;</p></div><br />
<div>

<p>&lt;/div&gt;</p></div>
  </div>

<p> </p>

<p> </p>

<p></p><div class="amongus-chatbox">
<div class="amongus-msg amongus-player amongus-dead">

<p><img class="amongus-avi" src="https://i.imgur.com/1FjNBrJ.png" /> <img class="amongus-icon" src="https://i.imgur.com/2mKACTG.png" /></p>

<p class="amongus-content">
        <span class="amongus-name">NotImposter</span><br />
<span class="amongus-text">someone come find my body</span>
      </p></div>
    <div class="amongus-msg amongus-dead">

<p><img class="amongus-avi" src="https://i.imgur.com/1FjNBrJ.png" /> <img class="amongus-icon" src="https://i.imgur.com/2mKACTG.png" /></p>

<p class="amongus-content">
        <span class="amongus-name">NotImposter</span><br />
<span class="amongus-text">someone come find my body</span>
      </p></div>
    <div class="amongus-msg amongus-player">

<p><img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /> <img class="amongus-icon" src="https://i.imgur.com/prwqCtY.png" /></p>

<p class="amongus-content">
        <span class="amongus-name">Player</span><br />
<span class="amongus-text">vote red. if not him then me</span>
      </p></div>
    <div class="amongus-msg amongus-vote">

<p><img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /> <img class="amongus-icon" src="https://i.imgur.com/prwqCtY.png" /></p>

<p class="amongus-vote-msg">Player has voted. 7 remaining.</p></div>
    <div class="amongus-msg amongus-player">

<p>
        <img class="amongus-avi" src="https://i.imgur.com/sm4Id90.png" />
      </p>

<p class="amongus-content">
        <span class="amongus-name amongus-imposter">Imposter</span><br />
<span class="amongus-text">I was in electrical doing my tasks </span>
      </p></div>
    <div class="amongus-msg">

<p>
        <img class="amongus-avi" src="https://i.imgur.com/oRxZJeO.png" />
      </p>

<p class="amongus-content">
        <span class="amongus-name amongus-imposter">Butterfly</span><br />
<span class="amongus-text">I was w red, can confirm theyr ok </span>
      </p></div>
    <div class="amongus-msg">

<p><img class="amongus-avi" src="https://i.imgur.com/uSzARuQ.png" /> <img class="amongus-icon" src="https://i.imgur.com/prwqCtY.png" /></p>

<p class="amongus-content">
        <span class="amongus-name">Player</span><br />
<span class="amongus-text">vote red. if not him then me</span>
      </p></div>
  </div>

<p><br />
Live example of the amongus skin https://archiveofourown.org/works/27314074/chapters/66735937</p>

<p>If you use this tutorial for a fic, I would love to read it!</p></div>