.file-browser {
    display: table;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: sans-serif;
}

.file-address {
    border: red solid;
    margin-left: 10px;
    display: none;
}

.headerview {
    /* display: block; */
    display: table-caption;
    border: purple;
    border-style: solid;
    height: 20px;
}

.sidebar {
    /* display: inline-block; */
    display: table-cell;
    width: 115px;
    height: 200px;
    border: blue;
    border-style: solid;
}


.sidebar-item a {
    display: inline-flex;
    text-decoration: none;
    border-bottom: none;
}

.sidebar-item:hover {
    background-color: lightblue;
}

.sidebar-item {
    cursor: pointer;
    padding: 3px;
}

.sidebar-item img {
    margin-right: 4px;
    margin-top: -0.1em;
}

.arrow-reverse {
    transform: rotate(180deg);
    margin: 0 10px 0 10px;
}

/* .sidebar-item:before {
    content: url(https://i.imgur.com/7kBV9ZQ.png);
    transform: scale(0.3,0.3);
} */
/* 
.favicon-img {
    height: 18px;
    width: 18px;
} */
.mainview {
    display: table;
    position: relative;
}

.middlepane {
    display: table-cell;
    position: relative;
    width: 400px;
    height: 200px;
    border: blue;
    border-style: solid;
}

.footerview {
    display: block;
    border: orange solid;
}

.file-address-default {
    /* display: none; */
    border: red solid;
    margin-left: 10px;
    position: absolute;
    top: -2em;
}

.middlepane .tab:not(.file-address-default) {
    padding-top: 150px;
    top: -150px;
    position: absolute;
}

#mainview:target ~ .mainview,
#documents:target ~ .documents,
#pictures:target ~ .pictures,
#trash:target ~ .trash {
  display: block;
}

#mainview:target ~ .file-address.mainview,
#documents:target ~ .file-address.documents,
#pictures:target ~ .file-address.pictures,
#trash:target ~ .file-address.trash {
    /* visibility: visible; */
    display: inline-flex;
    position: absolute;
    top: -2em;
    /* margin-top: -3.2em; */
    /* margin-top: -32px; */
}

/* ao3 fixes */
.headerview p ,
.sidebar-item p {
    display: inline;
}

.file-browser p:first-child,
.sidebar p:first-child,
.middlepane p:first-child {
    margin: 0;
    padding: 0;
    line-height: 1;
}